.calendar .dijitTitlePaneContentInner {
  padding: 0 !important;
}

.calendar-day .day-header{
  color: #333333;
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 2px;
}

.calendar-day {
  padding: 8px;
}

.calendar-day:nth-child(even){
  background-color: #fafafa;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.calendar-day:last-child{
  border-bottom: none;
}

.calendar-entry {
  padding-bottom: 4px;
}

.calendar-entry-container {
  margin-left: 14px;
}

.calendar-entry .project.project-invite{
  background-image: url(images/icons/project-invite-10x10.png);
  background-position: left center;
  /*background-color: #642F6C;
  color: #642F6C;*/
}

.calendar-entry .project {
  background: url(images/icons/project-10x10.png) no-repeat left center;
}

.calendar-entry .task.task-invite{
  background-image: url(images/icons/check-green.png);
  background-position: left center;
  /*background-color: #97D700;
  color: #97D700;*/
}

.calendar-entry .task.blocked{
  background-image: url(images/icons/check-red.png);
  background-position: left center;
  /*background-color: #97D700;
  color: #97D700;*/
}

.calendar-entry .task {

  background: url(images/icons/check.png) no-repeat left center;
}


.calendar-entry {
  color: #333333;
  cursor: pointer;
}

.calendar-entry:hover{
  color: #000000;
}

.coordel h3.dijitCalendarYearLabel {
	border: none;
	color: #333;
}

.coordel .dijitCalendarMonthContainer {
	background-image: url(images/titlebar1.png);
}

.coordel .task-form .dijitTextArea {
	border: none;
	background: #fff;
}

.coordel .dijitCalendar {
	border-radius: 0;
	background-color: #ccc;
	border: 1px solid #999;
	padding: 0px;
}

.coordel .dijitCalendarIncrementControl {
	background-image: url(images/calendarArrows.png);
}

.coordel .dijitCalendarDayLabelTemplate{
	color: #333;
	text-transform: uppercase;
	font-size: 12px;
	font-family: helvetica;
	text-shadow: #fff 0px 1px 0px;
	font-weight: bold;
	
}

.coordel .dijitCalendar,.coordel .dijitCalendarActive,.coordel .dijitCalendarHover {
	
	background-image: url(images/titlebar1.png);
	background-repeat: repeat-x;
	
}
.coordel .dijitCalendarPreviousMonth, .coordel .dijitCalendarNextMonth {
	background-color: #fff !important;
	
	color: #ccc;
}
.coordel .dijitCalendarPreviousMonth .dijitCalendarDateLabel, .coordel .dijitCalendarNextMonth .dijitCalendarDateLabel {
	color: #ccc;
	border: none;
}

.coordel .dijitCalendarDateTemplate {
	border: none;
	background-color: #e5e5e5;
	
}
