.empty-right{
  max-width: 300px;
  min-width: 280px;
  color: #5c5c5c;
  font-size: 12px;
  font-weight: bold;
  margin: 8px auto;
  text-shadow: #E7EDF5 0px 1px 0px;
  top: 60px;
  word-wrap: break-word;
}

.empty-right .text {
  background-position: 8px 8px;
  background-repeat: no-repeat;
  min-height: 50px;
  padding: 8px 8px 8px 40px;
}

.empty-right.calendar .text {
  background-image:url(images/emptyList/calendar.png);
  
}

.empty-right.contact .text {
  background-image:url(images/emptyList/contact.png);
}


.empty-right.stream .text {
  background-image:url(images/emptyList/stream.png);
  
}

.empty-right p {
  font-size: 10px;
  font-weight: normal;
  line-height: 16px;
  color: #5c5c5c;
}