#addTask {
  background:#000 url(images/headerButtons/add_task.png);
  width: 46px;
  height: 28px;
}

#addTask:hover {
  background:#000 url(images/headerButtons/add_task_h.png);
}

#filterStream {
  background:#000 url(images/headerButtons/filter_stream.png);
  width: 46px;
  height: 28px;
  float: left;
  margin-right: 8px;
}

#filterStream:hover {
  background:#000 url(images/headerButtons/filter_stream_h.png);
}

