.task-info-dialog {
  max-height: 600px;
}

.task-info {
  font-size: 10px;
  color: #5c5c5c;
}

.task-info.done {
  background: url(images/icons/taskinfo-done.png) no-repeat center center;
}

.task-info.cancelled {
  background: url(images/icons/taskinfo-cancelled.png) no-repeat center center;
}

.task-info .status {
  margin-top: 8px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-top: 1px solid #eaeaea;
}

.task-info li {
  line-height: 20px;
}

.task-info .field-inner {
  line-height: 10px;
  padding-left: 24px;
  padding-top: 2px;
  min-height: 20px;
}

.task-info span {
  line-height: 14px;
}

.countdown {
  padding-top: 8px;
}

.countdown.expired .countdown-box{
  background-color: #DA291C;
}

.countdown span{
	height: 35px;
	width: 22px;
	margin-right: 1px;
	margin-left: 1px;
	font-size: 18px;
	padding:1px;
	-moz-border-radius:2px;
	border-radius: 2px;
}
.countdown-box{
  background-image: url("images/button_background.png");
  background-position: center top;
  background-repeat: repeat-x;
  background-color: #00629B;
  color: #ffffff;

 	-moz-box-shadow: 1px 1px 3px #5c5c5c;
	-webkit-box-shadow: 1px 1px 3px #5c5c5c;
	box-shadow: 1px 1px 3px #5c5c5c;

}

.task-info-dialog .dijitTitlePaneContentInner {
  padding: 4px 8px 8px 8px;
  border-bottom: 0px solid transparent;
}


