<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("about");
  });
</script>
<div class="c-float-r">
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="coordel" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div class="c-float-r c-margin-r">
  <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="lucida grande"></div>
</div>

<h1>About Coordel</h1>

<p>Coordel is a network dedicated to making you more productive so you can seize the opportunity to do the things you love to do. </p>

<h2>A Note from Coordel's Founder</h2>

<p>Coordel has been a labor of love inspired by the amazing people I've encountered. There is nothing more magical than that moment when a person is allowed to be great, when their eyes light up when they get to choose how they do their work, who they get to work with, or when a small team realizes they can accomplish something amazing together.</p>

<p>It has also been fueled by frustration with "processes" that treat people like "resources" to be deployed. There is nothing more depressing than finding talented people who are just waiting for the day to end.</p>

<p>I believe two things. First, that opportunity is unlimited and second, that the world is populated with talented people who yearn to do amazing things. Coordel is my attempt to help bring the two together.</p>

<p class="c-float-r">Jeff Gorder</p>


