<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("about");
  });
</script>

<h1>About Coordel</h1>

<h2>Labor of Love</h2>


<p>Everyone benefits from being more productive. Coordel is designed to enable each of us to be as productive as possible...and will continue to push the envelope to increase our productivity so that we can do more of what we love.</p>

<p>We believe opportunity is unlimited. Coordel is designed to make it visible and accessible to everyone. We all have 24 hours in a day. With coordination, nothing is stopping us from spending that time doing what we love. We don't need to wait for someone to create a job for us.</p>

<p>Coordel is designed to maximize what we can do, together. Given the opportunity, each person is capable of doing amazing things. Coordinated, it's hard to imagine what we can't do.</p>

<p>Transparency is Accountability. Coordel strives to maximize transparency and accountability in the work we do together. No more top down.</p>

<p>Each one of us must be able to choose the work we do and who we choose to work with. In today's competitive global environment, we don't have time to waste doing things we don't like or are bad at, nor do we have time to struggle working with people who don't complement our skills and personalities.</p>

<p>You personal data belongs to you...period</p>