<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("advocate");
  });
</script>
<h1>Advocates</h1>

<p>Are you passionate about people and their talents? Do you want to be a part of helping people become more productive and seize more opportunity? Get Coordel certified today. Play a part in growing the Coordel community and generate increasing Coordel returns for yourself, automatically and immediately.</p>

<p>As a certified Advocate, when you sell a Coordel license to a business contact, customer or just someone you know, you will earn 25% of that license fee for as long as the license is active. There are no forms to fill out or hoops to jump through.</p>

<p><a style="padding-left: 20px" href="mailto:sales@coordel.com">Contact Us</a> today if you'd like to get started or would like more information.</p>
