<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("business");
  });
</script>
<h1>Your Coordel Business</h1>

<p>Coordel works for you. By making you more productive and by offering you more opportunity. But that is not all. Play a part in growing the Coordel community and generate increasing Coordel returns for yourself, automatically and immediately.</p>

<p>Coordel is built by a group of professionals excited about creating a new way of working together. And we’re really only at the beginning of the Coordel journey. Want to become part of making it happen? Coordel allocates 50% of every membership fee to those who contribute to expanding and improving the Coordel community. </p>
