<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("business");
  });
</script>
<h1>Coordel Residual Commissions</h1>

<p>When you sell a Coordel license to a business contact, customer or just someone you know, you will earn 25% of that license. There are no forms to fill out or hoops to jump through. When you invite people to become a Coordel member and they convert to a paying membership, you automatically receive 25% of their license fee for as long as the license is active.</p>

<h1>Coordel Residual Contracts</h1>

<p>Coordel is built by a group of professionals excited about creating a new way of working together. And we’re really only at the beginning of the Coordel journey. Want to become part of making it happen?</p> 

<p>Coordel allocates 50% of every membership fee to those who contribute to expanding, improving and  even revolutionizing the Coordel community. It’s growing Coordel together in every sense of the meaning.</p>