<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("cases");
  });
</script>
<div class="c-float-r">
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="coordel" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
<div class="c-float-r c-margin-r">
  <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="lucida grande"></div>
</div>
<h1>The Case for Coordel</h1>
<p>Coordel enables you to be more productive so you can pursue more opportunity. If you had more time to seize additional opportunities, what would you do?</p>
<h2>People Employed Full or Part Time</h2>
<p>If you had more time on the job, what new initiatives would you start? Or, what if you were so productive that you had time to work for an additional company? <a class="c-color-active" href="/?p=employed">See how</a> Coordel can work for you.</p>
<h2>Contractors </h2>
<p>You know that your billable hours are limited to the hours available in a day. What if you could add an additional residual revenue stream to your regular billables? <a class="c-color-active" href="/?p=contract">See how</a> Coordel can work for you.</p>
<h2>Consultants</h2>
<p>You know that you customers don't just want a big document dropped in their laps. What if you could deliver an executable plan designed for change that would create residual income for you? <a class="c-color-active" href="/?p=consult">See how</a> Coordel can work for you.</p>