<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("cases");
  });
</script>
<h1>Case Studies</h1>
<p>Coordel enables you to be more productive so you can pursue more opportunity. See how.
<h2>You're Employed Full Time</h2>
<p>Most people are employed full time. <a class="c-color-active" href="/?p=employed">See how</a> Coordel can work for you.</p>
<h2>You're a Contractor</h2>
<p>You are a contractor. <a class="c-color-active" href="/?p=contract">See how</a> Coordel can work for you.</p>
<h2>You're a Consultant</h2>
<p>You are a consultant. <a class="c-color-active" href="/?p=consult">See how</a> Coordel can work for you.</p>