<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("cases");
  });
</script>
<h1>The Case for Coordel</h1>
<p>One thing we all have in common is the 24 hours we have in the day. Coordel enables you to be more productive so you can pursue more opportunity. If you had more time to seize additional opportunities, what would you do?</p>
<h2>You're Employed Full Time</h2>
<p>Most people are employed full time. If you had more time on the job, what might you do to get ahead. Or, what if you were so productive that you had time to work for an additional company. <a class="c-color-active" href="/?p=employed">See how</a> Coordel can work for you.</p>
<h2>You're a Contractor</h2>
<p>You are a contractor. You know that your billable hours are limited. What if you could add an additional residual revenu stream to your regular billables? <a class="c-color-active" href="/?p=contract">See how</a> Coordel can work for you.</p>
<h2>You're a Consultant</h2>
<p>You are a consultant. You know that you customers don't just want a big document dropped on their laps. What if you could deliver an executable splan, designed for change, that would create residual income for you? <a class="c-color-active" href="/?p=consult">See how</a> Coordel can work for you.</p>