<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("contract");
  });
</script>
<div class="c-float-r">
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="coordel" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
<div class="c-float-r c-margin-r">
  <div class="fb-like" data-href="http://coordel.com/?p=contract" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="lucida grande"></div>
</div>
<h1>You are an <span style="color: #003C60">Independent Contractor</span></h1>
<table id="cases">
  <thead>
    <td><strong><a href="/?p=productivity">Productivity</a></strong> challenges & Coordel solutions</td>
    <td><strong><a href="/?p=opportunity">Opportunity</a></strong> challenges & Coordel solutions</td>
  </thead>
  <tr>
    <td>
      <div>My to-do list is so long, I don’t know how and where to start.</div>
      <h6>The Coordel solution:</h6>
      <div class="feature"><a href="/?p=feature&f=current">Current Tasks</a> - <span>Track work you can do right now</span></div>
      <div class="feature"><a href="/?p=feature&f=turbo">Turbo Wizard</a> - <span>Get your day started</span></div>
    </td>
    <td>
      <div>I have great ideas, but I can't afford to hire a team to make it happen.</div>
      <h6>The Coordel solution:</h6>
      <div class="feature"><a href="/?p=tour&r=coords">Coords</a> - <span>Coordinate work with other people</span></div>
      <div class="feature"><a href="/?p=tour&r=people">People</a> - <span>Choose your own team</span></div>
    </td>
  </tr>
  <tr>
    <td>
      <div>Between calendars and to-do lists, how do I make sure I meet all my customer deadlines? </div>
      <h6>The Coordel solution:</h6>
      <div class="feature"><a href="/?p=feature&f=invite">Explicit Invitations</a> - <span>Agree or decline new work requests</span></div>
      <div class="feature"><a href="/?p=feature&f=blocked">Blocked Tasks</a> - <span>Set it and forget it</span></div>
      <div class="feature"><a href="/?p=feature&f=deadline">Deadline Calendar</a> - <span>Track all deadlines in one place</span></div>
    </td>
    <td> 
      <div>I keep reinventing the wheel.</div>
      <h6>The Coordel solution:</h6>
      <div class="feature"><a href="/?p=tour&r=blueprints">Blueprints</a> - <span>Get it right once, then reuse or repeat your successes</span></div>
    </td>
  </tr>
  <tr>
    <td>
      <div>How do I make sure my customers are on the same page in terms of my deliverables?</div>
      <h6>The Coordel solution:</h6>
      <div class="feature"><a href="/?p=feature&f=blocked">Blocked Tasks</a> - <span>Set it and forget it</span></div>
      <div class="feature"><a href="/?p=feature&f=deliverable">Deliverables</a> - <span>Everything you need, where you expect it to be</span></div>
      <div class="feature"><a href="/?p=feature&f=blockedDeliverable">Blocked Deliverables</a> - <span>Set the order steps in a task are completed</span></div>
    </td>
    <td>
      <div>I feel limited by the number of hours I have to bill customers.</div>
      <h6>The Coordel solution:</h6>
      <div class="feature"><a href="/?p=business">Residual Commissions</a> - <span>Build your own business</span></div>
    </td>
  </tr>
  <tr>
    <td>
      <div>My calendar, inbox, to-do lists and calls are overwhelming.</div>
      <h6>The Coordel solution:</h6>
      <div class="feature"><a href="/?p=feature&f=turbo">Turbo Wizard</a> - <span>Get your day started</span></div>
      <div class="feature"><a href="/?p=feature&f=current">Current Tasks</a> - <span>Track work you can do right now</span></div>
      <div class="feature"><a href="/?p=feature&f=deferred">Deferred Tasks</a> - <span>Track work you will start later</span></div>
      <div class="feature"><a href="/?p=feature&f=delegated">Delegated Tasks</a> - <span>Track your delegated work</span></div>
      <div class="feature"><a href="/?p=feature&f=blocked">Blocked Tasks</a> - <span>Set it and forget it</span></div>
      <div class="feature"><a href="/?p=feature&f=deadline">Deadline Calendar</a> - <span>Track all deadlines in one place</span></div>
    </td>
    <td>
      <div>I spend too much time doing work that is outside my competitive advantage.</div>
      <h6>The Coordel solution:</h6>
      <div class="feature"><a href="/?p=tour&r=coords">Coords</a> - <span>Coordinate work with other people</span></div>
      <div class="feature"><a href="/?p=tour&r=people">People</a> - <span>Choose your own team</span></div>
      <div class="feature"><a href="/?p=feature&f=feedback">Feedback</a> - <span>What do you think? What do others think of you?</span></div>
    </td>
  </tr>
  <tr>
    <td>
      <div>I spend too much time doing urgent, unimportant work rather than adding real value.</div>
      <h6>The Coordel solution:</h6>
      <div class="feature"><a href="/?p=feature&f=invite">Explicit Invitations</a> - <span>Agree or decline new work requests</span></div>
      <div class="feature"><a href="/?p=tour&r=agreements">Explicit Agreements</a> - <span>Agree & amend changes to proposed tasks</span></div>
      <div class="feature"><a href="/?p=feature&f=done">Explicit Completion</a> - <span>Submit & agree on completed tasks</span></div>
    </td>
    <td>
      <div>I have a real competitive advantage, but no way to capitalize on it because I don't have the time.</div>
      <h6>The Coordel solution:</h6>
      <div class="feature"><a href="/?p=feature&f=current"></a> - <span></span></div>
      <div class="feature"><a href="/?p=tour&r=coords">Coords</a> - <span>Coordinate work with other people</span></div>
      <div class="feature"><a href="/?p=feature&f=current">Current Tasks</a> - <span>Track work you can do right now</span></div>
      <div class="feature"><a href="/?p=feature&f=deadline">Deadline Calendar</a> - <span>Track all deadlines in one place</span></div>
    </td>
  </tr>
  <tr>
    <td>
      <div>I have to double-check constantly there are no misunderstandings or miscommunication with my customers.</div>
      <h6>The Coordel solution:</h6>
      <div class="feature"><a href="/?p=feature&f=stream">Stream</a> - <span>Spend your time doing work, not writing about it</span></div>
      <div class="feature"><a href="/?p=tour&r=alerts">Alerts</a> - <span>Know what happens when it happens</span></div>
    </td>
    <td>
      
    </td>
  </tr>
  <tr>
    <td>
      <div>I am too busy to take on more customers.</div>
      <h6>The Coordel solution:</h6>
      <div class="feature"><a href="/?p=feature&f=current">Current Tasks</a> - <span>Track work you can do right now</span></div>
      <div class="feature"><a href="/?p=feature&f=turbo">Turbo Wizard</a> - <span>Get your day started</span></div>
      <div class="feature"><a href="/?p=feature&f=deadline">Deadline Calendar</a> - <span>Track all deadlines in one place</span></div>
    </td>
    <td>
      
    </td>
  </tr>
  <tr>
    <td>
      <div>How do I plan my work so that I can easily see when I will have time to take on new customers?</div>
      <h6>The Coordel solution:</h6>
      <div class="feature"><a href="/?p=feature&f=deadline">Deadline Calendar</a> - <span>Track all deadlines in one place</span></div>
      <div class="feature"><a href="/?p=tour&r=coords">Coords</a> - <span>Coordinate work with other people</span></div>
    </td>
    <td>
      
    </td>
  </tr>
  <tr>
    <td>
      <div>I find it difficult to coordinate my efforts with other contractors.</div>
      <h6>The Coordel solution:</h6>
      <div class="feature"><a href="/?p=feature&f=deadline">Deadline Calendar</a> - <span>Track all deadlines in one place</span></div>
      <div class="feature"><a href="/?p=tour&r=coords">Coords</a> - <span>Coordinate work with other people</span></div>
      <div class="feature"><a href="/?p=tour&r=people">People</a> - <span>Choose your own team</span></div>
    </td>
    <td>
      
    </td>
  </tr>
</table>