<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main", "dojo/_base/array", "dojo/dom-class", "corp/widgets/Opportunity/Opportunity", "corp/db"], function(corp, array, dc, Opportunity, db){
    corp.setCurrentPage("coordel");
    
    db.load("/coordel/view/coordelOpportunities",{ query: {descending: true},
        handleAs: "json"
      }).then(function(data){
        //console.log("opportunities", data, data.rows);
        if (data.rows && data.rows.length){
          
          array.forEach(data.rows, function(item){
            var o = new Opportunity({project: item}).placeAt("coordelOpp-list");
            o.startup();
          });
        } else {
          //need to show empty;
        }
      });
  });
</script>
<p>
  Everyone has time. Your opportunity with Coordel is that you can choose to invest your time doing what you love.
</p>

<p>Click the binoculars to follow an Opportunity. Non-members will be invited to start a free 30 trial membership. Opportunities will appear in the <a class="c-color-active" href="/?p=feature&f=coord">Coord</a> list in the application.</p>

<h2>Current Opportunities</h2>
<p id="coordelOpp-list" class="coordel"></p>
