<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main", "dojo/_base/array", "dojo/dom-class", "corp/widgets/Opportunity/Opportunity", "corp/db"], function(corp, array, dc, Opportunity, db){
    corp.setCurrentPage("coordel");
    
    db.load("/coordel/view/coordelOpportunities",{ query: {descending: true},
        handleAs: "json"
      }).then(function(data){
        //console.log("opportunities", data, data.rows);
        if (data.rows && data.rows.length){
          
          array.forEach(data.rows, function(item){
            var o = new Opportunity({project: item}).placeAt("coordelOpp-list");
            o.startup();
          });
        } else {
          //need to show empty;
        }
      });
  });
</script>
<div class="c-float-r">
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="coordel" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
<div class="c-float-r c-margin-r">
  <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="lucida grande"></div>
</div>
<h1>Coordel Opportunities</h1>
<p>
  The Coordel journey is just beginning. At it's core, Coordel works when it's a network of people coordinating their efforts. There are three ways you can become an active participant of the the Coordel Network.
</p>
<div class="bullets">
  <ul>
     <li>Become a <a class="c-color-active" href="/?p=business#advocates">Coordel Advocate</a></li>
    <li>Contribute your <a class="c-color-active" href="/?p=business#experts">expertise</a> to specific Coordel Opportunities</li>
    <li><a class="c-color-active" href="/?p=business#investors">Invest</a> in specific Coordel Opportunities</li>
 
  <ul>
</div>

<p id="opp-instructions">Scroll over and click the binoculars to follow a Coordel Opportunity. Non-members will be invited to start a free 30 day trial membership. Opportunities you follow will appear in your <a class="c-color-active" href="/?p=feature&f=coord">Coord</a> list in the application.</p>

<h2>Coordel Opportunities</h2>
<p id="coordelOpp-list" class="coordel"></p>
