<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("opportunity");
  });
</script>

<h1>Introducing a world of opportunity</h1>

<p>What you love, you do best. Coordel enables you to profit from putting your expertise to work. In the Coordel community, everyone is an expert.</p>

<p>How does it work? Coordel allows all members to publish opportunities to work together.</p>

<p>This allows you to seize opportunities that are suited to your own expertise.</p>

<p>It also allows you to assemble a team of experts when you don’t have all the know-how to get something done, or even started, yourself.</p>