<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("opportunity");
  });
</script>

<h1>Opportunity</h1>

<p>Coordel is designed to offer you choice. The opportunity to choose the people you work with and the kind of work you do. How? By facilitating teamwork based on expertise.</p>


<h2>Publish & participate in Network Opportunities</h2>
<p>Don’t have all the know-how to get something done, or even started, yourself? Turn to the <a href="/?p=public" class="c-color-active">Coordel Network</a> to find the people that can help you achieve your goal. Simply publish your request for a specific expertise in the <a href="/?p=feature&f=opportunity" class="c-color-active">Opportunities</a> list. Of course, there is a supply side to this demand. Follow Network or Coordel Opportunities to offer your know-how to those looking for it. The upside: you get to do what you love and what you do best, and expand your network.</p>

<h2>Pursue Opportunities with Coordel</h2>
<p>Coordel is built by a group of professionals excited about creating a new way of working together. And we’re really only at the very beginning of the Coordel journey. Want to become part of making it happen? Check out the <a href="/?p=coordel" class="c-color-active">opportunities provided by Coordel</a> and also see how Coordel helps you <a href="/?p=business" class="c-color-active">build your own business</a>.
</p>

<h2>Market your expertise</h2>
<p>As you master your skills by using Coordel, you can simply save and re-use successful processes and how-tos as <a href="/?p=feature&f=blueprint" class="c-color-active">Blueprints</a>. Share your know-how with the Coordel Network or with others.
</p>
<h5>How’s that for a world of opportunity?</h5>