<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("productivity");
  });
</script>
<h1>Introducing a world of productivity</h1>
<p>
So many e-mails, so little efficiency.  How much effort does it take to clear up confusion about deadlines and deliverables? Or track down the latest version of the one document you need on the company server, the intranet or your own infallible filing system?</p>

<p><a href="/?p=tour" class="c-color-active">Using Coordel</a> is as fast as sending an e-mail. But instead of free text,  Coordel lets you give specific instructions, deadlines and deliverables. Or, if you don't know, let the person doing the work tell you. People are most productive when you trust their expertise.</p> 

<img class="full-screen-image" alt="Productivity Tasks Software" src="images/productivity.png">

<p>Everything you need to do your work is right there in front of you:</p>
<div class="bullets">
  <ul>
		<li>you and your team’s <a href="?p=feature&f=current" class="c-color-active">current</a>, <a href="?p=feature&f=blocked" class="c-color-active">blocked</a>, and <a href="?p=feature&f=coord" class="c-color-active">upcoming</a>  work</li>
		<li>your agreed <a href="?p=feature&f=deadline" class="c-color-active">deadlines</a></li>
	 	<li>one-click <a href="?p=feature&f=turbo" class="c-color-active">Turbo Wizard</a> to get things started, delegated, and done</li>
		<li>all relevant messages and <a href="?p=feature&f=stream" class="c-color-active">information</a> in one place</li>
		<li>fast simple <a href="?p=feature&f=blueprint" class="c-color-active">reuse</a> of your successes</li>
	</ul>
</div>
<p>
</p>

	
<h5>Where e-mail stops working, Coordel is just getting started.</h5>