<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("productivity");
  });
</script>
<h1>Introducing a world of productivity</h1>
<p>
So many e-mails, so little efficiency.  How much effort does it take to clear up confusion about deadlines and deliverables? Or track down the latest version of the one document you need on the company server, the intranet or your own infallible filing system?</p>

<p>Using Coordel is as fast as sending an e-mail. But instead of free text,  Coordel gives you specific instructions, deadlines and deliverables.</p> 


<p>Everything you need to do your work is right there in front of you:</p>
  <div class="bullets">
	  <ul>
  		<li>you and your team’s current and upcoming work</li>
  		<li>your agreed deadlines</li>
  	 	<li>one-click turbo wizard to get things started, delegated, and done</li>
  		<li>all relevant information and communication in one place</li>
  	</ul>
  </div>
	
<h5>Where e-mail stops working, Coordel is just getting started.</h5>