<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("productivity");
  });
</script>
<div class="c-float-r">
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="coordel" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
<div class="c-float-r c-margin-r">
  <div class="fb-like" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="lucida grande"></div>
</div>
<h1>Introducing a World of Productivity</h1>
<p>
So many e-mails, so little efficiency.  How much effort does it take to clear up confusion about deadlines and deliverables? Or, how long does it take to track down the latest version of the one document you need on the company server, the intranet or your own infallible filing system?</p>

<p><a href="/?p=tour" class="c-color-active">Using Coordel</a> is as fast as e-mail, but instead of free text, Coordel lets you or the person doing the work give specific instructions, deadlines and deliverables.</p> 

<img class="full-screen-image" alt="Productivity Tasks Software" src="images/newtask.png">

<p>Everything you need to do your work is right there in front of you -</p>
<div class="bullets">
  <ul>
		<li>You and your team’s <a href="?p=feature&f=current" class="c-color-active">Current Tasks</a>, <a href="?p=feature&f=blocked" class="c-color-active">Blocked Tasks</a>, and upcoming work in <a href="?p=feature&f=coord" class="c-color-active">Coords</a>.</li>
		<li>Your agreed deadlines in your <a href="?p=feature&f=deadline" class="c-color-active">Deadline Calendar</a>.</li>
	 	<li>One-click <a href="?p=feature&f=turbo" class="c-color-active">Turbo Wizard</a> to get things started, delegated, and done.</li>
		<li>The <a href="?p=feature&f=stream" class="c-color-active">Stream</a> gives you direct, context-sensitive access to all relevant messages and work activities.</li>
		<li>Use <a href="?p=feature&f=blueprint" class="c-color-active">Blueprints</a> to reuse or repeat your successes.</li>
	</ul>
</div>
<p>
</p>

	
<h5>Where e-mail stops working, Coordel is just getting started.</h5>