<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("tour");
  });
</script>

<h1>Get Your Party Started</h1>
<div>
	<p>Not quite sure how to tackle an assignment? Or do you know the beginning and the end but you are not quite sure what's in the middle? All you need is your talented team. Coordel allows you to plan and manage efforts ... that perhaps have yet to be predefined .</p><p>How's that for getting things done?</p>
</div>

<h1>Tame the Work Beast</h1>
<div>
	<p>How much effort does it take to coordinate all your emails, calendars, to do lists, phone calls, ...?</p>
	<p>Coordel is your go-to place to manage all the work you could and should be doing. It's complete control of your professional commitments in just one window.</p><p>How's that for efficiency?</p>
</div>

<h1>Deliver Better Results</h1>
<div>
	<p>Working with others too often involves miscommunications, misunderstandings, and lacking or wrong information. Coordel includes and coordinates all the information and communication you and your team need to deliver high quality results.</p> 
	<p>How's that for teamwork?</p>
</div>

<h1>Re-use Success Stories</h1>
<div>
	<p>Remember that perfect collaborative effort, the one where the team had it all figured out? Coordel lets you do it all over again with one-click blueprinting of successful projects. </p><p>How's that for making your success stories work for you?</p>
</div>
			