
<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main","dojo/request", "dojo/json", "dojo/dom-construct", "dojo/_base/array"], function(corp, request, json, node, array){
    corp.setCurrentPage("tour");
    
    request("/support/source.json").then(
      function(text){
        var steps = json.parse(text).features;
        //console.log("steps", steps);
        
        var onRight = true;
        
        array.forEach(steps, function(step){
          if (!step.isIntro){
            addFeature(step);
          }
        });
        
        function addFeature(step){
          var feature = node.create("div", {"class": "qs-content"}, "featureList");
          
          var header = node.create("h4", {}, feature);
          node.create("a", {innerHTML: step.title,name: step.code, "class": "qs-link", href: "?p=feature&f="+step.code}, header);
          node.create("h4", {innerHTML: step.headline, "class": "qs-headline"}, feature);
          node.create("div", {style: {clear: "both"}}, feature);
          if (onRight){
            node.create("img", {src: step.image, style:{"float": "right", "margin-left":"6px"}, height: "140", width: "220"}, feature); 
            onRight = false;
          } else {
            node.create("img", {src: step.image, style:{ "float": "left", "margin-right":"6px"}, height: "140", width: "220"}, feature);
            onRight = true;
          }
          
          node.create("div", {innerHTML: step.content}, feature);
        }
        
      },
      function(error){
        console.log("Features not found");
      }
    );
  });
</script>
<div>
  <h1>Coordel Features</h1>
  <div>See how Coordel creates opportunity in making you more productive. For more details about how Coordel works, check out the features section below.</div>
</div>
<br>
<hr>
<div id="featureList"></div>
