<div>	
	<div class="task-form-dropdown ui-corner-bottom dijitMenu">
		<div class="select-field">
			<div class="desc">
				<span class="name">${coordel.taskFormAdd.contact.firstName}</span>
				<em class="required">&#149;</em>
			</div>
			<div>
				<input dojoType="dijit.form.TextBox" dojoAttachPoint="focusPoint" name="firstName" class="text" tabindex="1"/>
			</div>
		</div>
		<div class="select-field">
			<div class="desc">
				<span class="name">${coordel.taskFormAdd.contact.lastName}</span>
				<em class="required">&#149;</em>
			</div>
			<div>
				<input dojoType="dijit.form.TextBox" name="lastName" class="text" tabindex="2"/>
			</div>
		</div>
		<div class="select-field c-padding-large-b">
			<div class="desc">
				<span class="name">${coordel.taskFormAdd.contact.email}</span>
				<em class="required">&#149;</em>
			</div>
			<div>
				<input type="text" name="email" dojoType="dijit.form.ValidationTextBox" required="true" regExp="[a-zA-Z0-9._%-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}" promptMessage="Enter email address." invalidMessage="Invalid Email Address" trim="true"/>
			</div>
		</div>
		<div dojoAttachPoint="saveFieldValue" class="footer-button c-text-center ui-corner-bottom">Save</div>
	</div>
</div>