
.coordel .dijitCalendar {
  border: solid 1px #a3aab1;
  background-color: #b4b4b4;
  background-image: url("images/calendarContainerImages.png");
  background-position: 0 -448px;
  background-repeat: repeat-x;
  text-align: center;
  padding: 6px 5px 3px 5px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border-collapse: separate;
}
.dj_ie6 .coordel .dijitCalendar {
  background-image: none;
}
.coordel .dijitCalendar img {
  border: none;
}
.coordel .dijitCalendarHover, .coordel .dijitCalendar:hover, .coordel .dijitCalendarActive {
  
  background-color: #e5e5e5;
  border: solid 1px #a3aab1;
}
.coordel .dijitCalendarMonthContainer th {
  text-align: center;
  padding-bottom: 4px;
  vertical-align: middle;
}
.coordel .dijitCalendarMonthLabel {
  color: #333333;
  font-size: 1.091em;
  padding: 0 4px;
}
.coordel .dijitCalendarIncrementControl {
  width: 18px;
  height: 16px;
  background-image: url("images/calendarArrows.png");
  background-repeat: no-repeat;
}
.dj_ie6 .coordel .dijitCalendarIncrementControl {
  background-image: url("images/calendarArrows8bit.png");
}
.coordel .dijitCalendarIncrease {
  background-position: -18px 0;
}
.coordel .dijitCalendarArrowHover .dijitCalendarDecrease, .coordel .dijitCalendarArrow:hover .dijitCalendarDecrease {
  background-position: -36px 0;
}
.coordel .dijitCalendarArrowHover .dijitCalendarIncrease, .coordel .dijitCalendarArrow:hover .dijitCalendarIncrease {
  background-position: -55px 0;
}
.coordel .dijitCalendarArrowActive .dijitCalendarDecrease, .coordel .dijitCalendarArrow:active .dijitCalendarDecrease {
  background-position: -72px 0;
}
.coordel .dijitCalendarArrowActive .dijitCalendarIncrease, .coordel .dijitCalendarArrow:active .dijitCalendarIncrease {
  background-position: -91px 0;
}
.coordel .dijitA11ySideArrow {
  
  display: none;
}
.coordel .dijitCalendarDayLabelTemplate {
  padding-bottom: 0;
  text-align: center;
  border-bottom: 1px solid #a3aab1;
  padding: 0 3px 2px;
}
.coordel .dijitCalendarDayLabel {
  padding: 0 4px 0 4px;
  font-weight: bold;
  font-size: 0.909em;
  text-align: center;
  color: #333333;
}
.coordel .dijitCalendarDateTemplate {
  text-align: center;
  background-color: #ffffff;
  background-image: url("images/calendarContainerImages.png");
  background-position: 0 0;
  background-repeat: repeat-x;
  border-bottom: 1px solid #cccccc;
  padding-top: 0;
  font-size: 0.909em;
  font-family: Arial;
  font-weight: bold;
  letter-spacing: .05em;
  text-align: center;
  color: #333333;
}
.dj_ie6 .coordel .dijitCalendarDateTemplate {
  background-image: none;
}
.coordel .dijitCalendarPreviousMonth, .coordel .dijitCalendarNextMonth {
  background-color: #e5e5e5;
  background-image: none;
  border-bottom: solid 1px #cccccc;
  
}
.coordel .dijitCalendarDateTemplate .dijitCalendarDateLabel {
  text-decoration: none;
  display: block;
  padding: 3px 5px 3px 4px;
  border: solid 1px #ffffff;
  
  background-color: rgba(171, 212, 251, 0);
  
  -webkit-transition-property: background-color, border;
  -moz-transition-property: background-color, border;
  transition-property: background-color, border;
  -webkit-transition-duration: 0.35s;
  -moz-transition-duration: 0.35s;
  transition-duration: 0.35s;
}
.coordel .dijitCalendarPreviousMonth .dijitCalendarDateLabel, .coordel .dijitCalendarNextMonth .dijitCalendarDateLabel {
  color: #a3aab1;
  border-color: #e5e5e5;
  
}
.coordel .dijitCalendarYearContainer {
  vertical-align: middle;
}
.coordel .dijitCalendarYearControl {
  padding: 1px 2px 2px 2px;
}
.coordel .dijitCalendarYearLabel {
  padding: 2px 0 0 0;
  margin: 0;
  font-size: 1.17em;
}
.coordel .dijitCalendarYearLabel span {
  
  vertical-align: middle;
}
.coordel .dijitCalendarSelectedYear {
  padding: 0 3px;
}
.coordel .dijitCalendarNextYear, .coordel .dijitCalendarPreviousYear {
  padding: 1px 6px 1px 6px;
  font-size: 0.909em;
}
.coordel .dijitCalendarSelectedYear {
  font-size: 1.091em;
  color: #333333;
}
.coordel .dijitCalendarHoveredDate .dijitCalendarDateLabel, .coordel .dijitCalendarEnabledDate:hover .dijitCalendarDateLabel {
  background-color: #e5e5e5;
  border: solid 1px #a3aab1;
  color: #333333;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
.coordel .dijitCalendarNextYearHover,
.coordel .dijitCalendarNextYear:hover,
.coordel .dijitCalendarPreviousYearHover,
.coordel .dijitCalendarPreviousYear:hover {
  color: #333333;
  border: solid 1px #ffffff;
  padding: 0 5px 0 5px;
  
  background-color: #e5e5e5;
}
.coordel .dijitCalendarNextYearActive, .coordel .dijitCalendarNextYear:active.coordel .dijitCalendarPreviousYearActive, .coordel .dijitCalendarPreviousYear:active {
  border: solid 1px #a3aab1;
  padding: 0 5px 0 5px;
  
  background-color: #8b8b8b;
}
.coordel .dijitCalendarActiveDate .dijitCalendarDateLabel, .coordel .dijitCalendarEnabledDate:active .dijitCalendarDateLabel {
  background-image: url("images/calendarContainerImages.png");
  background-position: 0 -300px;
  background-color: #8b8b8b;
  border: solid 1px #ffffff;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.dj_ie6 .coordel .dijitCalendarActiveDate .dijitCalendarDateLabel {
  background-image: none;
}
.coordel .dijitCalendarSelectedDate .dijitCalendarDateLabel {
  color: #333333;
  background-color: #e5e5e5;
  border-color: #a3aab1;
}
.coordel .dijitCalendarDisabledDate .dijitCalendarDateLabel {
  color: #777777;
  text-decoration: line-through;
}
.coordel .dijitCalendar .dijitDropDownButton {
  margin: 0;
}
.coordel .dijitCalendar .dijitButtonText {
  padding: 1px 0 3px;
  margin-right: -4px;
}
.coordel .dijitCalendar .dijitDropDownButton .dijitButtonNode {
  background-color: transparent;
  background-image: none;
  padding: 0 3px 0 2px;
  border: solid 1px #a3aab1;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.coordel .dijitCalendar .dijitDropDownButtonHover .dijitButtonNode, .coordel .dijitCalendar .dijitDropDownButton:hover .dijitButtonNode {
  background-color: #e5e5e5;
  border: solid 1px #ffffff;
}
.coordel .dijitCalendarMonthMenu {
  border-color: #a3aab1;
  background-color: #ffffff;
  text-align: center;
  background-image: none;
}
.coordel .dijitCalendarMonthMenu .dijitCalendarMonthLabel {
  border-top: solid 1px #ffffff;
  
  border-bottom: solid 1px #ffffff;
  padding: 2px 0;
}
.coordel .dijitCalendarMonthMenu .dijitCalendarMonthLabelHover, .coordel .dijitCalendarMonthMenu .dijitCalendarMonthLabel:hover {
  background-color: #e5e5e5;
  border-color: #a3aab1;
  border-width: 1px 0;
  background-image: url("images/commonHighlight.png");
  background-repeat: repeat-x;
}
