<table style="width:100%;" cellpadding="0" cellspacing="0">
	<tr>
		<td id="calendarTab" style="width:50%" class="listHeader left-tab active double c-text-center">${deadlineCalendar}</td>
		<td id="streamTab" style='width:50%' class="listHeader right-tab inactive double c-text-center">${streamHeader}</td>
	</tr>
</table>
<div style='background:#e5e5e5;' class="coordel-toolbar">
	<div>
		<div id="taskListSearch" style="display:none" class="c-padding" dojoType="app.views.QuickSearch"></div>
		<div id="showFullStreamFilter" style="display:none" class="hidden" dojoAttachPoint="showFilter" dojoType="dijit.form.Button" iconClass="small-task-icon icon-filter" showLabel="false"></div>
	</div>
</div>