<div>
	<div class="blocker-header project">
		<span dojoAttachPoint="userName" class="blocker-username c-float-r"></span>
		<span>
			<span dojoAttachPoint="taskName"></span>
			<span dojoAttachPoint="showInfo" class="small-task-icon icon-info">&nbsp;</span>
		</span>
	</div>
	<div dojoAttachPoint="infoDialog" dojoType="app.views.Dialog">
  	<div style="padding:0; width: 500px" class="tasklist-titlepane" dojoAttachPoint="infoContainer"></div>
	</div>
	<div class="blocker-info" dojoAttachPoint="containerNode"></div>
	<div class="clear"></div>
</div>