<div>
	<div dojoAttachPoint="versionsContainer" class="c-float-r c-padding" style="width: 22%;border: 1px solid #eaeaea">
		<div dojoAttachPoint="recentTitle" class="c-padding">
			<span class="instructions c-title">${coordel.taskWorkspace.recentVersions}</span>
			<span dojoAttachPoint="showAllVersions" title="${coordel.taskWorkspace.showAllVersions}" class="c-small-button ui-icon-circle-triangle-e c-float-l"></span>
		</div>
		<div dojoAttachPoint="allTitle" class="c-padding hidden">
			<span class="instructions c-title">${coordel.taskWorkspace.allVersions}</span>
			<span dojoAttachPoint="showRecentVersions" title="${coordel.taskWorkspace.showRecentVersions}" class="c-small-button ui-icon-circle-triangle-s c-float-l"></span>
		</div>
		<div dojoAttachPoint="versions" class="c-padding-b" style="margin-left: 8px;">		
		</div>
	</div>
	<div dojoAttachPoint="textareaContainer"></div>
	<div class="clear"></div>
</div>