<div>
	<div>
		<div style="width:60%;" class="c-float-l">
			<div>
				<h3 dojoAttachPoint="name" class="no-background hidden">${task.name}</h3>
				<ul class="task-form">
					<li dojoAttachPoint="infoPurpose"  >
						<span title="${coordel.taskDetails.purpose}" class="field-icon dark-purpose"></span>
						<div class="field-inner">
							<span dojoAttachPoint="purpose" dojoType="app.views.Label"></span>
						</div>
					</li>
			
					<li dojoAttachPoint="infoDeadline">
						<span title="${coordel.taskDetails.deadline}" class="field-icon dark-deadline"></span>
						<span dojoAttachPoint="deadline" dojoType="app.views.Label"></span>
					</li>
			
					<li dojoAttachPoint="infoDeferDate">
						<span  title="${coordel.taskDetails.defer}" class="field-icon dark-defer"></span>
						<span>${coordel.taskDetails.starts} </span><span dojoAttachPoint="deferred" dojoType="app.views.Label"></span>
					</li>
		
					<li dojoAttachPoint="infoDelegator">
						<span  title="${coordel.taskDetails.by}" class="field-icon dark-delegate"></span>
						<span dojoAttachPoint="fullName" dojoType="app.views.Label"></span> <span>${coordel.taskDetails.by} </span><span dojoAttachPoint="delegator" dojoType="app.views.Label"></span>
					</li>
			
					<li dojoAttachPoint="infoUsername">
						<span title="${coordel.taskDetails.user}" class="field-icon dark-user"></span>
						<span dojoAttachPoint="username" dojoType="app.views.Label"></span>
					</li>
					
					<li dojoAttachPoint="infoAttachments">
						<span title="${coordel.taskDetails.attachments}" class="field-icon dark-attachments"></span>
						<span>${coordel.taskDetails.attachments} </span>
						<div dojoAttachPoint="attachments" style="padding-left: 24px"></div>
					</li>

				</ul>
				<div class="status">
					<div>
						<span>${coordel.status.label} </span>
						<span dojoAttachPoint="status" dojoType="app.views.Label"></span>
					</div>
					<div>
						<span>${coordel.updated} </span>
						<span dojoAttachPoint="updated" dojoType="app.views.Label"></span>
						<span>${coordel.by} </span>
						<span dojoAttachPoint="updater" dojoType="app.views.Label"></span>
					</div>

					<div>
						<span>${coordel.created} </span>
						<span dojoAttachPoint="created" dojoType="app.views.Label"></span>
						<span>${coordel.by} </span>
						<span dojoAttachPoint="creator" dojoType="app.views.Label"></span>
					</div>
				</div>
			</div>
			<div dojoAttachPoint="turboTimer" class="countdown c-padding-b hidden">
				<span class="countdown-box">0</span><span class="countdown-box" dojoAttachPoint="min">2</span><span>:</span><span class="countdown-box" dojoAttachPoint="sec0">0</span><span class="countdown-box" dojoAttachPoint="sec1">0</span>
			</div>
		</div>
		<div style="width:35%" class="c-float-r">
			<h3 class="no-background">${coordel.project}</h3>
			<div>
				<ul>
			
					<li>
						<span title="${coordel.taskDetails.project}" dojoAttachPoint="projectIcon" class="field-icon dark-project"></span>
						<div class="field-inner">
							<span dojoAttachPoint="projectName" dojoType="app.views.Label"></span>
						</div>
					</li>
					
					<li dojoAttachPoint="infoProjectDeadline">
						<span title="${coordel.taskDetails.projectDeadline}" class="field-icon dark-deadline"></span>
						<span dojoAttachPoint="projectDeadline" dojoType="app.views.Label"></span>
					</li>
			
					<li dojoAttachPoint="infoProjectResponsible">
						<span title="${coordel.taskDetails.projectResponsible}" class="field-icon dark-responsible"></span>
						<span dojoAttachPoint="projectResponsible" dojoType="app.views.Label"></span>
					</li>
			
				</ul>
			</div>
			
		</div
	</div>
	<div class="clear"></div>
</div>