<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Coordel</title>
	<link rel="shortcut icon" href="/images/favicon.gif">
  <link rel="stylesheet" href="/clients/web<%= version %>/css/app.css">
	<script src="/socket.io/socket.io.js"></script>
	
	<script type="text/javascript">
    var djConfig = {
      couchdb: "coordel",
			parseOnLoad: true,
			async: true,
			isDebug: false
    };
  </script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-29334212-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<!-- APP -->
</head>
<body class="coordel loading">
  <div id="loading">
    <div style="height: 43px;" class="mainLayoutHeader"> &nbsp;</div>
    <div style="height: 9999px; background: #fff url(/clients/web/css/images/body-bg15.png);padding-top: 20px">


      
          <div style="background: #fff url(/clients/web/css/images/splashLoading-tagline-gray.gif) no-repeat center center; border-radius: 6px; height: 600px; width: 940px;margin:auto;">&nbsp;</div>
      
    </div>
  </div>

  <script data-main="/clients/web<%= version %>/js/app/_base" src="/clients/web<%= version %>/js/requirejs-0.24.0/require.js"></script>
  <input id="ideasUrl" type="hidden" value="<%=ideasUrl%>"/>
</body>
<script type="text/javascript" src="/js/linkify.js"></script>

<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "coordel";
  feedback_widget_options.placement = "bottom";
  feedback_widget_options.color = "#222222";
  feedback_widget_options.style = "problem";
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
</html>
