<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Coordel</title>
	<link rel="shortcut icon" href="/images/favicon.gif">
  <link rel="stylesheet" href="/clients/web/dev/css/app.css">
	<script src="/socket.io/socket.io.js"></script>
	<script type="text/javascript">
    var djConfig = {
      couchdb: "coordel",
			parseOnLoad: true
    };
  </script>
	<!-- APP -->
</head>
<body class="claro loading">
  <script data-main="/clients/web/dev/js/app/_base" src="/clients/web/dev/js/requirejs-0.24.0/require.js"></script>
</body>
<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "coordel";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#222222";
  feedback_widget_options.style = "problem";
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>
</html>
