<div class="c-float-l confirm-message">
	<div class="handwritten">
		<p>Hi <%=firstName%>,</p>
		<br/>
		<p>Welcome to Coordel. You're about to have more fun and get more done.</p>
		<br/>
		<p>All we need is a Password and then your ready to log in.</p>
		<br/>
		<p>Follow the links below if you have questions or want more info.</p>
	</div>
</div>
<div class="c-float-l confirm-form">
	<div class="header-logo">&nbsp;</div>
	<form action="/password" method="post">
		<ul>
			<li>
  			<label for="regPassword">Password</label>
				<div>
					<input id="regPassword" name="newPass" type="password">
				<div>
			</li>
			<li>
  			<label for="regVerify">Verify Password</label>
				<div>
					<input id="regVerify" name="verifypassword" type="password">
				<div>
			</li>
		</ul>
		<div class="c-padding-large-t">
  		<input id="submitLogin" type="submit" class="submit-button c-margin-b c-float-r" value="Set Password">
			<div class="clear"></div>
		</div>
	</form>
	<%if ('undefined' !== typeof errors && errors.length){%>
	<div class="feedback c-color-error c-text-center c-padding-large-t">
		<% for (var key in errors) {%>
			<span class="error"><%=errors[key]%>.</span>
		<%}%>
		<span>Please try again.
	</div>
	<%}%>
</div>
	
