<!DOCTYPE html>
<html>
	<head>
  	<title>Coordel...and we're done!</title>
  	<meta charset="utf-8">
		<link rel="stylesheet" href="css/main.css">
		<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.7.1/dojo/dojo.js" type="text/javascript"></script>
		<!-- Date: 2012-01-26 -->
	</head>
	<body>
		<h1>Coordel Preview</h1>
		<p>Thanks for your interest. Watch for an invitation</p>
		<%- body %>
		<div class="links">
			<a href="/login">Sign In</a>
			<a href="/register">Join Us</a>
			<a href="/reset">Reset Password</a>
			<a href="/flushdb">Reset Databases</a>
			<a href="/invite">Invite</a>
		</div>
	</body>
</html>
	
