<div class="c-float-l register-form">
	
	<form action="/register" method="post">
		<div style="padding-bottom: 1em">
			<img src="css/images/logos/black-20.png">
		</div>
		<ul>
			<li>
  			<label for="regFirstName">First Name</label>
				<div>
					<input id="regFirstName" name="firstName" type="text" data-dojo-type="dijit/form/TextBox"/>
				<div>
			</li>
			<li>
  			<label for="regLastName">Last Name</label>
				<div>
					<input id="regLastName" name="lastName" type="text">
				<div>
			</li>
			<li>
  			<label for="regEmail">Email</label>
				<div>
					<input id="regEmail" name="email" type="text">
				<div>
			</li>
			<li>
  			<label for="regPassword">Password</label>
				<div>
					<input id="regPassword" name="password" type="password">
				<div>
			</li>
			<li>
  			<label for="regVerify">Verify Password</label>
				<div>
					<input id="regVerify" name="password" type="password">
				<div>
			</li>
		</ul>
		<div>
  		<input type="submit" class="submit-button c-margin-b c-float-r" value="Join Coordel">
			<div class="clear"></div>
		</div>
	</form>
	<%if ('undefined' !== typeof errors && errors.length){%>
	<div class="feedback c-color-error c-text-center c-padding-large-t">
		<% for (var key in errors) {%>
			<span class="error"><%=errors[key]%>.</span>
		<%}%>
		<span>Please try again.
	</div>
	<%}%>
</div>
<div class="c-float-l alt-signup">
	<div class="handwritten">Save time by using your Facebook or LinkedIn account to join Coordel</div> 
	<div>
		<p class="c-text-center c-padding-large"><a href="/auth/facebook"><img src="css/images/providers/signup-facebook.png" title="Login in with Facebook"></a></p>
		<p class="c-text-center c-padding-large"><a href="/auth/linkedin"><img src="css/images/providers/signup-linkedin.png" title="Login in with LinkedIn"></a></p>
	</div>
</div>
