

.corp-login li label {
  width: 105px; 
  margin-right: 0; 
  float:left;
  text-align:right;
}

.corp-login li div {
  margin-left: 120px 
}


.corp-login li input {
  width: 180px; 
}

.register-form, .confirm-form {
  font-size: 14px;
}

.register-form {
  border-right: 1px solid #a3aab1;
}

.corp-login li{
  padding-bottom: .7em;
}

.warning {
  color: #ffffff;
  background: #DA291C;
  padding:1em;
  border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	font-size: 14px;
}

.corp-login .links{
	text-align:center; 
	padding:2em;
}

.signin .error {
  margin-right: 4px;
}

.corp-login input, .corp-login textarea {
  border: 1px solid #a3aab1;
  padding-top: 4px;
  font-size: 12px;
}

ul{
list-style-type: none;
}

.signin-facebook {
  background: url('images/providers/facebook_signin.png') no-repeat;
  background-position: 0 0;
  height: 22px;
  width: 150px;
  display: inline-block;
}
.signin-facebook:hover{
  background-position: 0 -24px;
}
.signin-facebook:active{
  background-position: 0 -48px;
}

.signin-linkedin {
  background: url('images/providers/linkedin_signin.png') no-repeat;
  background-position: 0 0;
  height: 22px;
  width: 150px;
  display: inline-block;
}
.signin-linkedin:hover{
  background-position: 0 -24px;
}
.signin-linkedin:active{
  background-position: 0 -48px;
}

