/* InlineEditBox
 * 
 * Styling InlineEditBox mainly includes:
 * 
 * 1. Normal state
 * 		.dijitInlineEditBoxDisplayMode  - for border
 * 
 * 2. Hover state
 * 		.dijitInlineEditBoxDisplayModeHover - for border and background color
 */
.coordel .dijitInlineEditBoxDisplayMode {
  border: 1px solid transparent;
}
.coordel .dijitInlineEditBoxDisplayModeHover {
  background-color: #fdfdfd;
  border: solid 1px #a3aab1;
}
.dj_ie6 .coordel .dijitInlineEditBoxDisplayMode {
  border: none;
}
