<div>
	<h3 class="menu-header">${coordel.projectActions.header}</h3>
	<ul class="menu-items">
		
		<!--<li dojoAttachPoint="edit" class="sort-attribute "><ins></ins><a>${coordel.projectActions.edit}...</a></li>-->
		
		<li dojoAttachPoint="send" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.send}...</a></li>
		<li dojoAttachPoint="participate" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.participate}...</a></li>
		<li dojoAttachPoint="proposeChange" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.proposeChange}...</a></li>
		<li dojoAttachPoint="leave" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.leave}...</a></li>
		<li dojoAttachPoint="follow" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.follow}...</a></li>
		<li dojoAttachPoint="unfollow" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.unfollow}...</a></li>
		<li dojoAttachPoint="markDone" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.markDone}...</a></li>
		<li dojoAttachPoint="pause" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.pause}...</a></li>
		<li dojoAttachPoint="resume" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.resume}...</a></li>
		<li dojoAttachPoint="cancel" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.cancel}...</a></li>
		<li dojoAttachPoint="deleteProject" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.deleteProject}...</a></li>	
		<li dojoAttachPoint="decline" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.decline}...</a></li>
		<li dojoAttachPoint="clear" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.clear}...</a></li>
		<li dojoAttachPoint="reuse" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.reuse}...</a></li>
		<li dojoAttachPoint="ackCancel" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.ackCancel}...</a></li>
		<li dojoAttachPoint="ackDone" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.ackDone}...</a></li>
	</ul>
</div>