<div style="background-color: #eaeaea; width:800px;padding:0">
	<div class="c-float-r" style="padding: 16px;background-color: #fff;width: 600px;min-height:400px;border-left: 1px solid #66727F;">
		<h2>Topic</h2>
	</div>
	<div style="padding: 16px;" class="c-float-l">
		<h2>Tasks</h2>
		<ul>
			<li><ins></ins><a>Topic</a></li>
			<li><ins></ins><a>Topic</a></li>
		</ul>
		<h2>Coords</h2>
		<ul>
			<li><ins></ins><a>Topic</a></li>
			<li><ins></ins><a>Topic</a></li>
		</ul>
	</div>
	<div class="clear"></div>
</div>