.coordel .dijitSliderRtl .dijitSliderProgressBarH,
.coordel .dijitSliderRtl .dijitSliderRemainingBarH,
.coordel .dijitSliderRtl .dijitSliderLeftBumper,
.coordel .dijitSliderRtl .dijitSliderRightBumper,
.coordel .dijitSliderRtl .dijitSliderTopBumper {
  background-position: top right;
}
.coordel .dijitSliderRtl .dijitSliderProgressBarV, .coordel .dijitSliderRtl .dijitSliderRemainingBarV, .coordel .dijitSliderRtl .dijitSliderBottomBumper {
  background-position: bottom right;
}
.coordel .dijitSliderRtl .dijitSliderLeftBumper {
  border-left-width: 0;
  border-right-width: 1px;
}
.coordel .dijitSliderRtl .dijitSliderRightBumper {
  border-left-width: 1px;
  border-right-width: 0;
}
.coordel .dijitSliderRtl .dijitSliderIncrementIconH {
  background-position: -357px 50%;
}
.coordel .dijitSliderRtl .dijitSliderDecrementIconH {
  background-position: -251px 50%;
}
