<div class="entry">
	<div class="left-column">
		<div style="width:25px;height:25px; background-color: #000" class="coordelHeaderIconAdd coordelHeaderIcon">&nbsp;</div>
	</div>
	<div class="left-column">Add Task</div>
	<div class="right-column">This is the main button that the user sees at the top left of the page. It's should be clear that it's an add button</div>
	<div class="clear"></div>
</div>
<div class="entry">
	<div class="left-column">
		<div style="width:25px;height:25px; background-color: #000" class="coordelHeaderIconEdit coordelHeaderIcon">&nbsp;</div>
	</div>
	<div class="left-column">Edit</div>
	<div class="right-column">This is the button that is clicked to Edit the current object. It can appear in the header of the Coord or Task.</div>
	<div class="clear"></div>
</div>
<div class="entry">
	<div class="left-column">
		<div style="width:25px;height:25px; background-color: #000" class="coordelHeaderIconActions coordelHeaderIcon">&nbsp;</div>
	</div>
	<div class="left-column">Actions</div>
	<div class="right-column">This button shows a menu with all the Actions a user can take in the current context. So if they are working on Task details they will see one menu, and if they are working on a Coord, they will see another menu</div>
	<div class="clear"></div>
</div>
<div class="entry">
	<div class="left-column">
		<div style="width:25px;height:25px; background-color: #000" class="coordelHeaderIconNotify coordelHeaderIcon">&nbsp;</div>
	</div>
	<div class="left-column">Notifications</div>
	<div class="right-column">This button has two states. Notifications arrive when someone else makes a change that affects the user. This one indicates that there are no new Notifications.</div>
	<div class="clear"></div>
</div>
<div class="entry">
	<div class="left-column">
		<div style="width:25px;height:25px; background-color: #000" class="coordelHeaderIconNotifyActive coordelHeaderIcon"><label style="color: #fff;font-size: 9px">2</label></div>
	</div>
	<div class="left-column">Notifications Active</div>
	<div class="right-column">This is the second state. It will show the number of notifications on the blue background</div>
	<div class="clear"></div>
</div>
<div class="entry">
	<div class="left-column">
		<div style="width:25px;height:25px; background-color: #000" class="coordelHeaderIconSort coordelHeaderIcon">&nbsp;</div>
	</div>
	<div class="left-column">Sort</div>
	<div class="right-column">When the user clicks this icon, they see a menu with options for sorting and grouping. They can sort by Deadline, Date Created, and Date updated. They can group by Coord, by Timeline. They can opt to sort descending/ascending and they can choose whether or not to show the checklist for Tasks. Needs to have a disabled state when not available.</div>
	<div class="clear"></div>
</div>
<div class="entry">
	<div class="left-column">
		<div style="width:25px;height:25px; background-color: #000" class="coordelHeaderIconTurbo coordelHeaderIcon">&nbsp;</div>
	</div>
	<div class="left-column">Go Turbo</div>
	<div class="right-column">When the user clicks Turbo, they go into the Getting Things Done wizard</div>
	<div class="clear"></div>
</div>
<div class="entry">
	<div class="left-column">
		<div style="width:25px;height:25px; background-color: #000" class="coordelHeaderIconCancelTurbo coordelHeaderIcon">&nbsp;</div>
	</div>
	<div class="left-column">Cancel Turbo</div>
	<div class="right-column">This stops the GTD Turbo Wizard</div>
	<div class="clear"></div>
</div>
<div class="entry">
	<div class="left-column">
		<div style="width:25px;height:25px; background-color: #000" class="coordelHeaderIconDone coordelHeaderIcon">&nbsp;</div>
	</div>
	<div class="left-column">Done</div>
	<div class="right-column">This is the button that the user clicks to mark a Task or Coord done. It needs to have disabled state when it's not possible to mark done.</div>
	<div class="clear"></div>
</div>
<div class="entry">
	<div class="left-column">
		<div style="width:25px;height:25px; background-color: #000" class="coordelHeaderIconBack coordelHeaderIcon">&nbsp;</div>
	</div>
	<div class="left-column">Back</div>
	<div class="right-column">This will have the place from where the user came after the icon. So if they clicked to got to Task Details in the Current list then there would be the back icon and the word Current after it in the button</div>
	<div class="clear"></div>
</div>
<div class="entry">
	<div class="left-column">
		<div style="width:25px;height:25px; background-color: #000" class="coordelHeaderIconHide coordelHeaderIcon">&nbsp;</div>
	</div>
	<div class="left-column">Hide</div>
	<div class="right-column">Hides the right column of the interface and toggles to show</div>
	<div class="clear"></div>
</div>
<div class="entry">
	<div class="left-column">
		<div style="width:25px;height:25px; background-color: #000" class="coordelHeaderIconShow coordelHeaderIcon">&nbsp;</div>
	</div>
	<div class="left-column">Show</div>
	<div class="right-column">Shows the right column of the interface and toggles to hide</div>
	<div class="clear"></div>
</div>
<div class="entry">
	<div class="left-column">
		<div style="width:25px;height:25px; background-color: #000" class="coordelHeaderIconAccept coordelHeaderIcon">&nbsp;</div>
	</div>
	<div class="left-column">Accept</div>
	<div class="right-column">Clicking this button Accepts an object based on context: Coord or Task</div>
	<div class="clear"></div>
</div>
<div class="entry">
	<div class="left-column">
		<div style="width:25px;height:25px; background-color: #000" class="coordelHeaderIconDecline coordelHeaderIcon">&nbsp;</div>
	</div>
	<div class="left-column">Decline</div>
	<div class="right-column">Clicking this button Declines an object based on context: Coord or Task</div>
	<div class="clear"></div>
</div>
<div class="entry">
	<div class="left-column">
		<div style="width:25px;height:25px; background-color: #000" class="coordelHeaderIconSend coordelHeaderIcon">&nbsp;</div>
	</div>
	<div class="left-column">Send</div>
	<div class="right-column">Clicking this button makes a Pending Coord Active for everyone</div>
	<div class="clear"></div>
</div>