<div>
	<h3 class="menu-header">${coordel.sort.sortBy}</h3>
	<ul class="menu-items">
		<li dojoAttachPoint="byDeadline" class="sort-attribute selected"><ins></ins><a>${coordel.sort.byDeadline}</a></li>
		<li dojoAttachPoint="byCreated" class="sort-attribute"><ins></ins><a>${coordel.sort.byCreated}</a></li>
		<li dojoAttachPoint="byName" class="sort-attribute"><ins></ins><a>${coordel.sort.byTaskName}</a></li>
	</ul>
	<h3 class="menu-header">${coordel.sort.sortOptions}</h3>
	<ul class="menu-items opt">
		<li dojoAttachPoint="optShowDone" class="option"><ins></ins><a>${coordel.sort.optShowDone}</a></li>
		<li dojoAttachPoint="optDescending" class="option"><ins></ins><a>${coordel.sort.optDescending}</a></li>
	</ul>
</div>