<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main", "dojo/_base/array", "dojo/dom-class", "corp/widgets/Opportunity/Opportunity", "corp/db"], function(corp, array, dc, Opportunity, db){
    corp.setCurrentPage("coordel");
    
    db.load("/coordel/view/coordelOpportunities",{ query: {descending: true},
        handleAs: "json"
      }).then(function(data){
        //console.log("opportunities", data, data.rows);
        if (data.rows && data.rows.length){
          
          array.forEach(data.rows, function(item){
            var o = new Opportunity({project: item}).placeAt("coordelOpp-list");
            o.startup();
          });
        } else {
          //need to show empty;
        }
      });
  });
</script>

<h1>Coordel Opportunities</h1>
<p>
  The Coordel journey is just beginning. At its core, Coordel works when a network of people are coordinating their efforts. There are three ways you can participate in the Coordel Network.
</p>
<div class="et-custom-list etlist-dot indent">
  <ul>
     <li>Become a <a class="c-color-active" href="/?p=business#advocates">Coordel Advocate</a>.</li>
    <li>Contribute your <a class="c-color-active" href="/?p=business#experts">expertise</a> to specific Coordel Opportunities.</li>
    <li>Become an <a class="c-color-active" href="/?p=business#investors">Investor</a> in specific Coordel Opportunities.</li>
 
  <ul>
</div>

<p id="opp-instructions">Scroll over and click the binoculars icon to follow a Coordel Opportunity. Non-members will be invited to start a free 30-day trial membership. Opportunities you follow will appear in your <a class="c-color-active" href="/?p=feature&f=coord">Coord</a> list within the application.</p>

<h2 class="c-padding-large-b">Coordel Opportunities</h2>

<p id="coordelOpp-list" class="coordel"></p>

