<script>
  require(["corp/main","dojo/request", "dojo/io-query", "dojo/dom", "dojo/json", "dojo/_base/array", "dojo/dom-class"], function(corp, request, io, dom, json, array, dc){
    //corp.setCurrentPage("tour");
    
    corp.setCurrentPage("feature");
    
    var feature = io.queryToObject(location.href).f;
  
    request("/support/features/"+ feature + ".html").then(
      function(html){
      
        dom.byId("feature").innerHTML = html;
        
        
        request("/support/source.json").then(
          function(text){
            var features = json.parse(text).features;
            var source = false;
            array.forEach(features, function(f){
              if (f.code === feature){
                source = f;
              }
            });
            
            if (source){
              dom.byId("feature-title").innerHTML = source.title;
              dom.byId("feature-headline").innerHTML = source.headline;
              document.title = titleCaps(source.title);
            }
            
            if (source.movie){
              dom.byId("feature-movie").src = source.movie;
            } else {
              dc.add("feature-movie-container", "hidden");
              dc.remove("feature-image", "hidden");
              dom.byId("feature-image").src = source.image;
            }
          }
        );
        
        
      },
      function(error){
        console.log("HTML not found");
      }
    );
  });
</script>
<div id="feature"></div>