<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("pricing");
  });
</script>

<style>
  .layout {
  	width:600px;
  	margin:0 auto;
  }

  .layout-content {
  	float:left;
  	width:350px;
  }

  .layout-sidebar {
  	float:left;
  	width:200px;
  }

</style>

<div>
  <h1>Simple Pricing</h1>
  <p>
  For just $10 dollars a month, Coordel is all yours to work with. You can cancel your subscription at any time.
  </p>
</div>
<div class="layout">
  
  <div class="pricing-box layout-sidebar">
		<div class="price">
      $10 per month
    </div>
    
    <div class="price storage">
      $1 per gig per month
    </div>
	</div>
  
	<div class="layout-content">
	  
		<div class="pricing-features c-float-l">
		  
      <h2>No Limits</h2>
      <ul>
        <li>Create all the <a href="/?p=feature&f=coord" class="c-color-active">Coords</a> and <a href="/?p=feature&f=task" class="c-color-active">Smart Tasks</a> you need to accomplish your goals.</li> 
        <li>Invite all the <a href="/?p=feature&f=people" class="c-color-active">People</a> you need to get your work done.</li>
      </ul>
      <h2>No Advertising - No Tricks</h2>
      <ul>
        <li>Coordel will never advertise to you or the <a href="/?p=feature&f=people" class="c-color-active">People</a> you invite to coordinate with you.</li>
        <li>Coordel will never sell anyone's data to a third party...including yours!</li>
        <li>Storage is shared across <a href="/?p=feature&f=coord" class="c-color-active">Coord</a> participants. No more duplication of storage when working with others.</li>
      </ul>
      <h2>Always Full Featured</h2>
      <div>
        <p>Coordel is designed to be a self-sufficient community. Paid membership allows us to avoid intrusive sources of revenue such as advertising. So please, think twice before you hitch a free ride.</p>
		    <p>All versions of Coordel are feature complete. After using Coordel free for 30 days, should you decide not to pay your monthly fee, the following will happen - your application will be branded "Non-paying," and you will be flagged "Non-paying" in everyone else's <a href="/?p=feature&f=people" class="c-color-active">People</a> list and in your public <a href="/?p=public" class="c-color-active">Network Opportunities</a>.</p>
		  </div>

      <div>
        <a href="/register" style="padding: 0 6px; font-size: 12px" class="button graybutton">GET STARTED NOW</a>
      </div>
	  
	   
    </div>
	</div>

</div>
<div class="clear"></div>
