
<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main","dojo/request", "dojo/json", "dojo/dom-construct", "dojo/_base/array"], function(corp, request, json, node, array){
    corp.setCurrentPage("tour");
    
    request("/support/source.json").then(
      function(text){
        var steps = json.parse(text).features;
        //console.log("steps", steps);
        
        var onRight = true;
        
        array.forEach(steps, function(step){
          if (!step.isIntro){
            addFeature(step);
          }
        });
        
        createFeatureTable();
        
        function createFeatureTable(){
          
          var div = node.create("div", null, "featureTable");
          var table = node.create("table", null, div);
          var tbody = node.create("tbody", null, table);
          
          var count=1;
          var rowCount = 1;
          groups = {};
          row = "row"+rowCount.toString();
          array.forEach(steps, function(step){
            if (!step.isIntro){
              if (!groups[row]){
                groups[row] = [];
              }
              if (count < 5){
                //console.log("count", count);
                groups[row].push(step);
                count += 1;
              } else {
                //console.log("out of count", count);
                count = 2;
                rowCount += 1;
                row = "row"+rowCount.toString();
                if (!groups[row]){
                  groups[row] = [];
                }
                groups[row].push(step);
              }
            }  
          });
          
          for (var key in groups) {
            //console.log("group", groups[key]);
            
            var tr = node.create("tr", null, tbody);
            
          
            array.forEach(groups[key], function(step){
              //console.log("step", step);
              
              node.create("td", {
                innerHTML: "<a href='#" + step.code + "'>" + step.title + "</a>"
              }, tr);
            
            });
          
          }
          //console.log("groups", groups);
          
        }
        
        function addFeature(step){
          var feature = node.create("div", {"class": "qs-content"}, "featureList");
          
          var header = node.create("h4", {}, feature);
          node.create("a", {innerHTML: step.title, name: step.code, "class": "qs-link link-image", href: "?p=feature&f="+step.code}, header);
          node.create("h4", {innerHTML: step.headline, "class": "qs-headline"}, feature);
          node.create("div", {style: {clear: "both"}}, feature);
          if (onRight){
            node.create("img", {src: step.image, alt: step.title, style:{"float": "right", "margin-left":"6px"}, height: "140", width: "220"}, feature); 
            onRight = false;
          } else {
            node.create("img", {src: step.image, alt: step.title, style:{ "float": "left", "margin-right":"6px"}, height: "140", width: "220"}, feature);
            onRight = true;
          }
          
          node.create("div", {innerHTML: step.content}, feature);
        }
        
      },
      function(error){
        console.log("Features not found");
      }
    );
  });
</script>
<div>
  <div class="c-float-r">
    <a href="https://twitter.com/share" class="twitter-share-button" data-via="coordel" data-count="none">Tweet</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div>
  <div class="c-float-r c-margin-r">
    <div class="fb-like" data-href="http://www.facebook.com/coordelinfo" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="lucida grande"></div>
  </div>
  <h1>Coordel Features</h1>
  <p>See how Coordel creates opportunity by making you more productive. For more details about how Coordel works, check out the <a href="#spotlights" class="c-color-active">Feature Spotlights Section</a> below.</p>
  
  <img style="border: 1px solid #000000" class="full-screen-image border-radius-4" alt="Productivity Tasks Software Features" src="images/newtask.png">
  <div id="featureTable"></div>
  <br>
  <p>Something missing? Head over to the <a class="c-color-active" href="https://getsatisfaction.com/coordel/ideas/popular" target="_blank">Get Satisfaction Coordel Community</a> to see what others think and to add your own ideas.</p>
</div>
<br>
<h1><a name="spotlights"></a>Feature Spotlights</h1>
<div id="featureList"></div>
