<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("transparency");
    
    corp.setTransparency();
  });
</script>
<div class="c-float-r">
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="coordel" data-count="none">Tweet</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
<div class="c-float-r c-margin-r">
  <div class="fb-like" data-href="http://www.facebook.com/coordelinfo" data-send="false" data-layout="button_count" data-width="90" data-show-faces="false" data-font="lucida grande"></div>
</div>
<h1>Transparency is Accountability</h1>
<p>Coordel will be transparent from day one in order to maximize accountability to the Network.</p>

<h2>Membership Recap</h2>
<p>Everyone will know how many paying and non-paying members there are. Productivity is good for each person individually. Opportunity happens when everyone participates.</p>
  <style>
    .transparency {
      font-size: 18px; 
      width: 400px;
      margin-left: 40px;
    }
    .transparency > div {
      line-height: 2.5em;
    }
    .transparency > div > div {
      font-weight: bold;
      color: #00629b;
    }
  </style>
  <div class="transparency">
    <div>Non-paying Members:
      <div class="c-float-r"  id="nonPayingMembers"></div>
    </div>
    <div>Paying Members:
      <div class="c-float-r"  id="payingMembers"></div>
    </div>
    <div>Total Members:
      <div class="c-float-r"  id="totalMembers"></div>
    </div>
  </div>
<p></p>
<h2>Allocations</h3>
<p>As Coordel <a href="/?p=coordel">Opportunities</a> are started and allocations are made, they will be tracked here.</p>
<div class="transparency">
   <div>Pledged:
     <div class="c-float-r"  id="pledged"></div>
   </div>
   <div>Available:
     <div class="c-float-r"  id="available"></div>
   </div>
   <div>Allocated:
     <div class="c-float-r"  id="allocated"></div>
   </div>
 </div>
 <p></p>
<p><a style="display:inline-block" class="envelope" href="mailto:feedback@coordel.com?subject=Coordel%20Transparency%20Feedback">Contact us</a> if you would like to know more or have suggestions how Coordel can be more transparent.</p>

