<div id="sidebar-primary">
	<ul class="primary-boxes">
	  
		<li id="task-blueprints" dojoAttachPoint="showTasks" class="box task-blueprints">
			<a>
				<span>${coordel.tasks}</span>
			</a>
		</li>
		<li id="project-blueprints" dojoAttachPoint="showProjects" class="box project-blueprints">
			<a>
				<span>${coordel.projects}<span>
			</a>
		</li>
		<li id="deliverable-blueprints" dojoAttachPoint="showDeliverables" class="box deliverable-blueprints hidden">
			<a>
				<span>${coordel.deliverables}<span>
			</a>
		</li>
		<li id="shared-blueprints" dojoAttachPoint="showShared" class="box shared-blueprints c-border-b">
			<a>
				<span>${coordel.shared}<span>
			</a>
		</li>
	</ul>
</div>