<div id="rightHeader" style="padding:8px">
		<span id="showNotifications" dojoAttachPoint="showNotifications" dojoType="dijit.form.DropDownButton" iconClass="coordelHeaderIcon coordelHeaderIconNotify"  class="coordelHeaderDropDown c-float-l" title="${coordel.stream.showNotifications}" dropDownPosition="below" label="0" showLabel="false">
			<div dojoType="dijit.TooltipDialog" class="coordelHeaderTooltipDialog popout" style="visibility:hidden">
				<div class="task-form-outline" style="padding:0">
					<div class="task-form-header ui-corner-top">
						<div dojoAttachPoint="alertsCancel" dojoType="dijit.form.Button" style="float: left">${coordel.cancel}</div>
					  <h2>${coordel.alerts}</h2>
	
					</div>
					<div class="alerts" dojoAttachPoint="alertsContainer" style="overflow-y: auto; max-height: 400px"></div>
					<div dojoAttachPoint="alertsFooter" class="task-form-footer footer-button  ui-corner-bottom c-text-center">${coordel.stream.clearAlerts}</div>
				</div>
			</div>
		</span>	
			
	<div dojoAttachPoint="coordelUserPreferences" dojoType="dijit.form.DropDownButton" title="User Preferences" class="c-float-r" label="${userFullName}" iconClass="coordelHeaderIcon coordelHeaderIconBlank" showLabel="true" style="margin-left: 6px">
	   <div id="coordelUserPreferencesMenu" dojoType="dijit.TooltipDialog" class="coordelHeaderTooltipDialog menu" style="visibility:hidden">
			<h3 class="menu-header">${coordel.options}</h3>
			<ul class="menu-items">
				<li dojoAttachPoint="doNotDisturb" class="option"><ins></ins><a>${coordel.doNotDisturbOff}</a></li>
				<li dojoAttachPoint="doNotDisturbOff" class="option"><ins></ins><a>${coordel.doNotDisturb}...</a></li>
				<li dojoAttachPoint="vips" class="option"><ins></ins><a>${coordel.vips}...</a></li>
			</ul>
			<hr>
			
			<h3 class="menu-header">${coordel.profile}</h3>
			<ul class="menu-items">
				<li dojoAttachPoint="optPreferences" id="optPreferences" class="option"><ins></ins><a>${coordel.preferences}...</a></li>
			</ul>
			<hr>
			<h3 class="menu-header">${coordel.support}</h3>
			<ul class="menu-items">
				<li dojoAttachPoint="supQuickStart" class="option"><ins></ins><a>${coordel.quickStart}...</a></li>
				<li dojoAttachPoint="supTutorial" class="option"><ins></ins><a>${coordel.tutorial}...</a></li>
				<li dojoAttachPoint="supEmail" class="option"><ins></ins><a>${coordel.emailIntegration}...</a></li>
				
			</ul>
			<hr>
			<ul class="menu-items">
				<li dojoAttachPoint="refresh" class="option"><ins></ins><a>${coordel.refresh}</a></li>
				<li dojoAttachPoint="optLogout" id="optLogout" class="option"><ins></ins><a>${coordel.logout}</a></li>
			</ul>
		</div>
	</div>
	<span id="hideRightColumn" dojoAttachPoint="hideRight" dojoType="dijit.form.Button" title="${coordel.hideRightColumn}" iconClass="coordelHeaderIcon coordelHeaderIconHide" class="c-float-r hidden" showLabel="false"></span>
	<span id="showRightColumn" dojoAttachPoint="showRight" dojoType="dijit.form.Button" title="${coordel.showRightColumn}" iconClass="coordelHeaderIcon coordelHeaderIconShow" class="c-float-r" showLabel="false"></span>
</div>