<div>
	<div id="turboContainer">
		<div dojoAttachPoint="taskInfoTp" class="turboInfo" title="${coordel.info}" dojoType="dijit.TitlePane" duration="0"></div>
		<div dojoAttachPoint="wizardTp" class="turboWizard" title="${coordel.turbo.turboWizard}" dojoType="dijit.TitlePane" duration="0"></div>
		<div dojoAttachPoint="turboDone" class="hidden">
			<div class="turbo-done">
				<div class="text">
					<h4 class="empty-title">${coordel.empty.turboTitle}</h4>
					<div class="empty-description">
						<p>${coordel.empty.turboText}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>