<div>
	<div dojoAttachPoint="vipsDialog" dojoType="app.views.ConfirmDialog" executeText="${coordel.ok}" executeCss="warning-button"  title="${coordel.vips}"  style="max-width: 42em; width: 500px">
		<div dojoAttachPoint="contactList" dojoType="app.widgets.ContainerPane" style="padding:0;max-height: 680px; border-top: 1px solid #999">
	</div>
	<div dojoAttachPoint="empty" class="hidden c-padding-large">
	  <div class="empty-right contact">
			<div class="text">
				<h4 class="empty-title">No People</h4>
				<div class="empty-description">
					<p>Members of your People list will be shown here</p>
				</div>
			</div>
		</div>
	</div>
</div>