<div dojoAttachPoint="domNode" class="c-ellipsis tasklist-item">
	<span dojoAttachPoint="showSort" class="sortable hidden dojoDndHandle"></span>
	<span dojoAttachPoint="taskCheckbox" dojoType="dijit.form.CheckBox"></span>
	<span title="${coordel.projectActions.follow}" dojoAttachPoint="followIcon" class="ui-icon-follow hidden"></span>
	<span title="${coordel.projectActions.participate}" dojoAttachPoint="participateIcon" class="ui-icon-project hidden"></span>
	<a dojoAttachPoint="showDetails" class="taskname" task-id="${task._id}">
		<div dojoAttachPoint="metaInfo" class="meta-info hidden"></div>
		${task.name}
	</a>
	<div class="task-actions-holder">
		<ul class="task-actions" dojoAttachPoint="taskActions">
			<li class="first menu-button edit">
				<div dojoAttachPoint="editTask">
					<a title="${coordel.taskDetails.editTask}"><ins></ins></a>
				  <div dojoAttachPoint="taskDialog" title="${coordel.taskDetails.editTask}" dojoType="app.views.ConfirmDialog">
				  	<div style="padding:0; width: 30em" dojoAttachPoint="taskFormContainer" dojoType="app.widgets.ContainerPane"></div>
					</div>
				</div>
			</li>
			<li dojoAttachPoint="showActions" class="menu-button actions">
				<div dojoAttachPoint="chooseAction" iconClass="small-task-icon icon-actions" dojoType="dijit.form.DropDownButton" title="${coordel.taskDetails.chooseAction}" showLabel="true">
					<div dojoAttachPoint="actionsDialog" dojoType="dijit.TooltipDialog" class="coordelHeaderTooltipDialog menu">
					</div>
				</div>
			</li>
			<li dojoAttachPoint="removeTask" class="delete"><a title="${coordel.taskActions.delete}"><ins></ins></a></li>
			<li dojoAttachPoint="followProject" class="hidden accept"><a title="${coordel.taskActions.followProject}"><ins></ins></a></li>
			<li dojoAttachPoint="acceptProject" class="hidden accept"><a title="${coordel.taskActions.participateProject}"><ins></ins></a></li>
			<li dojoAttachPoint="declineProject" class="hidden decline"><a title="${coordel.taskActions.declineProject}"><ins></ins></a></li>
			<li dojoAttachPoint="acceptTask" class="hidden accept"><a title="${coordel.taskActions.accept}"><ins></ins></a></li>
			<li dojoAttachPoint="declineTask" class="hidden decline"><a title="${coordel.taskActions.decline}"><ins></ins></a></li>
			<li dojoAttachPoint="removeDeferDate" class="hidden remove-defer"><a title="${coordel.taskActions.removeDeferDate}"><ins></ins></a></li>
			<li dojoAttachPoint="showStream" class="stream"><a title="${coordel.taskActions.showStream}"><ins></ins></a></li>
			<li dojoAttachPoint="showInfo" class="info last">
				<a title="${coordel.taskActions.showInfo}"><ins></ins></a>
				<div dojoAttachPoint="infoDialog" title="" dojoType="app.views.Dialog">
			  	<div style="padding:0; width: 500px" class="tasklist-titlepane" dojoAttachPoint="infoContainer" dojoType="app.widgets.ContainerPane"></div>
				</div>
			</li>
		</ul>
	</div>
	<div class="meta-deadline"></div>
	<div dojoAttachPoint="turboIcon" class="meta-turbo hidden">&nbsp;<div>
</div>

