<div class="entry-content">
	<div class="ui-corner-all large-shadow content-panel inverse-panel">
		<div>
			Coordel is the online partner that helps you redefine the way you innovate, execute and reuse your work and how you interact with others.
		</div>
		<h3>
			How does Coordel work for you?
		</h3>
	</div>
	
	<div class="ui-corner-all large-shadow content-panel">
		<h1 class="bullet">
			Tame the Work Beast
		</h1>
		<div class="bullet-content">
			How much effort does it take to coordinate all your e-mails, calendars, to do lists, phone calls,…? Coordel is your go-to place to manage all the work you could and should be doing. It’s complete control of your professional commitments in just one window. How’s that for efficiency?<span  class="see-more"><a href="">Find out more</a>&rarr;</span>
		</div>
	</div>
	<div class="ui-corner-all large-shadow content-panel">
		<h1 class="bullet">
			Get Yourself Going
		</h1>
		<div class="bullet-content">
			Not quite sure how to tackle an assignment? Or do you know the beginning and the end but you are not quite sure what's in the middle?  A talented team is all you need. Coordel allows you to plan and manage efforts that have not been predefined (yet). How’s that for getting things done?<span  class="see-more"><a href="">Find out more</a>&rarr;</span>
		</div>
	</div>
	<div class="ui-corner-all large-shadow content-panel">
		<h1 class="bullet">
			Deliver Better Results
		</h1>
		<div class="bullet-content">
			Working with others too often comes with miscommunications, misunderstandings, and lacking or wrong information. Coordel includes and coordinates all the information and communication you need to do your work well. You get better results without trying harder. How’s that for effectiveness?<span  class="see-more"><a href="">Find out more</a>&rarr;</span>
		</div>
	</div>
	<div class="ui-corner-all large-shadow content-panel">
		<h1 class="bullet">
			Market Your Skills
		</h1>
		<div class="bullet-content">
			Coordel offers one-click reuse of the step-by-step of a successful project. Coordel blueprints uncover a world of opportunities to market your skills and talents. How’s that for entrepreneurial intrepidness?<span class="see-more"><a href="">Find out more</a>&rarr;</span>
		</div>
	</div>
</div><!-- .entry-content -->