<div class="entry-content">
	<div class="ui-corner-all large-shadow content-panel inverse-panel">
		<h1>
			How does Coordel work for you?
		</h1>
	</div>
	<div class="ui-corner-all large-shadow content-panel">
		<h1 class="bullet">
			Get Your Party Started
		</h1>
		<div class="bullet-content">
			Not quite sure how to tackle an assignment?  Or do you know the beginning and the end but you are not quite sure what's in the middle? All you need is a talented team. Coordel allows you to plan and manage efforts that have not been predefined (yet). How’s that for getting things done? <span  class="see-more"><a href="">Find out more</a>&rarr;</span>
		</div>
	</div>
	<div class="ui-corner-all large-shadow content-panel">
		<h1 class="bullet">
			Add Coordination to your Collaboration
		</h1>
		<div class="bullet-content">
			How much effort does it take to coordinate all your e-mails, calendars, to do lists, phone calls,…? Coordel is your go-to place to manage all the work you could and should be doing, for yourself and as part of a team. It’s all your professional commitments in just one window. How’s that for efficiency?  <span class="see-more"><a href="">Find out more...</a></span>
		</div>
	</div>
	<div class="ui-corner-all large-shadow content-panel">
		<h1 class="bullet">
			Increase Return on Teamwork Investment
		</h1>
		<div class="bullet-content">
			Working with others too often involves miscommunications, misunderstandings, and lacking or wrong information. Coordel includes and coordinates all the information and communication you and your team need to do deliver high quality results. How’s that for teamwork? <span class="see-more"><a href="">Find out more</a>&rarr;</span>
		</div>
	</div>
	<div class="ui-corner-all large-shadow content-panel">
		<h1 class="bullet">
			Re-use Success Stories
		</h1>
		<div class="bullet-content">
			Remember that perfect collaborative effort, the one where the team had it all figured out? Coordel lets you do it all over again with one-click blueprinting of successful projects. How’s that for making your success stories work for you?<span class="see-more"><a href="">Find out more</a>&rarr;</span>
		</div>
	</div>
</div><!-- .entry-content -->