<div>
	<span id="backToStreamButton" dojoAttachPoint="backToStream" dojoType="dijit.form.Button" title="${coordel.stream.backToFull}" iconClass="coordelHeaderIcon coordelHeaderIconBack" class="c-float-l" showLabel="true" style="margin-right: 6px" label="${coordel.stream.fullStream}"></span>
	
	<span id="showNotifications" dojoAttachPoint="showNotifications" dojoType="dijit.form.Button" iconClass="coordelHeaderIcon coordelHeaderIconNotify"  class="c-float-l" title="${coordel.stream.showNotifications}" label="0" showLabel="false"></span>
	
	<span id="filterStreamButton" dojoAttachPoint="filterStream" dojoType="dijit.form.Button" title="${coordel.stream.filterStream}" iconClass="coordelHeaderIcon coordelHeaderIconFilter" class="c-float-r" showLabel="false" style="margin-right: 6px"></span>
	
</div>