<div class="c-padding-b c-ellipsis">
		<a dojoAttachPoint="deleteFile" class="c-float-r c-small-button ui-icon-circle-close hidden"></a>
		<a dojoAttachPoint="completedFile" class="c-float-r c-small-icon ui-icon-circle-check hidden"></a>
		<a dojoAttachPoint="errorFile" class="ui-state error c-small-button ui-icon-alert c-float-r hidden"></a>
		<a dojoAttachPoint="loadingFile" class="c-float-r file-loading"></a>
		<a dojoAttachPoint="fileLink" title="${file.info.name}" href="${file.info.name}" style="font-size: 10px; width: 260px" class="attachment c-ellipsis">
			<span>${file.info.name}</span>
		</a>
<div>