<div>	
	<div class="task-form-dropdown ui-corner-bottom dijitMenu">
		<div class="select-field c-padding-large-b">
			<div class="desc c-padding-b">
				<span class="name">${coordel.taskFormAdd.blockers.instructions}</span>
			</div>
			<div style="max-height: 150px; padding: 0" dojoType="app.widgets.ContainerPane" dojoAttachPoint="projectTasksContainer"></div>
		</div>
		<div dojoAttachPoint="saveFieldValue" class="footer-button c-text-center ui-corner-bottom">${coordel.save}</div>
	</div>
</div>