<div>	
	<div class="task-form-dropdown ui-corner-bottom dijitMenu">
		<div class="select-field c-padding-large-b">
			<div class="desc c-padding-b">
				<span class="name">${coordel.taskFormAdd.blockers.instructions}</span>
			</div>
			<div style="max-height: 150px; padding: 0" dojoType="app.widgets.ContainerPane" dojoAttachPoint="projectTasksContainer"></div>
			<div dojoAttachPoint="durationContainer" style="margin-top: 8px; border-top: 1px solid #eaeaea;padding-top: 8px" class="hidden">
				<div class="instructions c-padding"><span style="font-weight:bold">${coordel.duration}: </span>${coordel.taskFormAdd.blockers.durationInstructions}
				</div> 
				<div class="c-padding">
					<input dojoAttachPoint="durNumber" value="0" dojoType="dijit.form.TextBox" style="width: 30px"/>
					<select dojoAttachPoint="durationChoices" dojoType="dijit.form.Select">
					  <option value="m">${coordel.minutes}</option>
						<option value="h">${coordel.hours}</option>
					
						<option value="d" >${coordel.days}</option>
						
						<option value="w">${coordel.weeks}</option>
						
					</select>
				</div>
			</div>
		</div>
		<div dojoAttachPoint="saveFieldValue" class="footer-button c-text-center ui-corner-bottom">${coordel.save}</div>
	</div>
</div>