<!DOCTYPE html>
<html lang="en">
	<head>
	  <title>Coordel = Productivity + Opportunity</title>
	  <link rel="shortcut icon" href="/images/favicon.gif">
		<!-- use the "coordel" theme -->
  	<link rel="stylesheet" href="/clients/web/0.0.1/css/app.css" media="screen">
  	<link rel="stylesheet" href="/css/corp/style.css" media="screen" >
  	<link rel="stylesheet" href="/css/corp/button.css" media="screen">
  	<link rel="stylesheet" href="/css/corp/tooltip.css" media="screen">
  	<link rel="stylesheet" href="/css/users.css" media="screen">
    <link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
    
    <!-- load loggly -->
    <script type="text/JavaScript">
      var scr = document.createElement("script");
      var host = (("https:" == document.location.protocol) ? "https://d3eyf2cx8mbems.cloudfront.net" : "http://d3eyf2cx8mbems.cloudfront.net");
      scr.type = "text/javascript";
      scr.src = host + "/js/loggly-0.1.0.js";
      document.documentElement.firstChild.appendChild(scr);
    </script>
    <script type="text/javascript">
      window.onload=function(){ 
        var key = "a9ca9bbc-d314-4a31-9223-d0a59e37a52e";
        var host = (("https:" == document.location.protocol) ? "https://logs.loggly.com" : "http://logs.loggly.com");
        castor = new loggly({ url: host+'/inputs/'+key+'?rt=1', level: 'log'});
        castor.log("url="+window.location.href + " browser=" + castor.user_agent + " height=" + castor.browser_size.height);
      };
    </script>
    
    

  	<!-- load dojo and provide config via data attribute -->
  	<script src="http://ajax.googleapis.com/ajax/libs/dojo/1.8/dojo/dojo.js" data-dojo-config="async: true, parseOnLoad:true"></script>
  	<script>
  	
  	    require({
            baseUrl: "/js/",
            packages: [
                { name: "dojo", location: "http://ajax.googleapis.com/ajax/libs/dojo/1.8/dojo/" },
                { name: "dijit", location: "http://ajax.googleapis.com/ajax/libs/dojo/1.8/dijit/" },
                
                { name: "corp", location: "corp" }
            ]
        }, [ "corp/main" ]);
  	    
  			// Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  	    require(["dojo", "dojo/cookie", "corp/main", "dijit/Tooltip", "dijit/form/DropDownButton", "dijit/TooltipDialog", "dijit/form/TextBox", "dijit/form/CheckBox", "dojo/parser", "dojo/domReady!"], function(dojo, cookie, corp){
  	      dojo.removeClass("bnLogin", "hidden");
  	      corp.setBackground();
  	      corp.setSpotlightSidebar();
  	      
  	    });
  	</script>
  	
  
  	
  	<!-- load google analytics -->
  	<script type="text/javascript">

  	  var _gaq = _gaq || [];
  	  _gaq.push(['_setAccount', 'UA-29334212-1']);
  	  _gaq.push(['_trackPageview']);

  	  (function() {
  	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  	  })();

  	</script>
	</head>
	<body id="top" class="coordel corp-login bg6">
    <div id="layout_wrapper_outer">
      <div id="layout_wrapper">
  	    <div id="layout_top">
  	      <div>
  		      <div id="login-button">
      			  <div id="bnLogin" class="corp-button hidden" data-dojo-type="dijit.form.DropDownButton" showLabel="true" iconClass="field-icon field-icon-user">
          		    <span>Login</span><!-- Text for the button -->
          		    <!-- The dialog portion -->
          		    <div class="corp-tooltip" style="width:260px;visibility: hidden;" data-dojo-type="dijit.TooltipDialog" id="ttDialog">
          		      <script type="dojo/method" data-dojo-event="onOpen" data-dojo-args="evt">
          		        var email = dojo.cookie("email"),
                          pass = dojo.cookie("pass");
                      if (email && pass){
                        dijit.byId("email").set("value", email);
                        dijit.byId("pass").set("value", pass);
                        dijit.byId("remember").set("checked", true);
                        dijit.byId("login").set("disabled", false);
                        
                      }
          		      </script>
          		      <div id="loginForm">
          		        <form action="/login" method="post">
            		        <strong><label for="email" style="display:inline-block;width:100px;">Email:</label></strong>
            		        <div data-dojo-type="dijit.form.TextBox" name="email" id="email">
            		          <script type="dojo/method" data-dojo-event="onKeyUp" data-dojo-args="evt">
                            // Check if we can enable the submit button
                            var email = dijit.byId("email").get("value").trim(),
                                pass = this.get("value").trim();
                              
                            if (email.length > 0 && pass.length > 5){
                              dijit.byId("login").set("disabled", false);
                            }
                            
                          </script>
            		        </div>
            		        <br />
            		        <strong><label for="pass" style="display:inline-block;width:100px;">Password:</label></strong>
            		        <div data-dojo-type="dijit.form.TextBox" type="password" name="password" id="pass">
            		          <script type="dojo/method" data-dojo-event="onKeyUp" data-dojo-args="evt">
                            // Check if we can enable the submit button
                            var email = dijit.byId("email").get("value").trim(),
                                pass = this.get("value").trim();
                              
                            if (email.length > 0 && pass.length > 5){
                              dijit.byId("login").set("disabled", false);
                            }
                            
                          </script>
          		          
            		        </div>
          		        
            		        <div class='c-margin-t'>
            		          <div class="c-float-r"><a href="/reset">Forgot Password</a></div>
            		          <span data-dojo-type="dijit.form.CheckBox" id="remember"></span>
            		          <strong><label for="remember" style="display:inline-block;width:100px;">Remember Me</label></strong>
            		        </div>
            		        <div class="c-margin-t">
            		        	<button id="login" class="c-float-r" disabled data-dojo-type="dijit.form.Button" type="submit">Login
            		        	  <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                              // if the remember me is checked set the cookie
                              castor.info("buttonClick=login, location=home");
                              require(["corp/main", "dojo/_base/connect" ], function(corp, connect){
                                if (dijit.byId("remember").get("checked")){
                                  dojo.cookie("email", dijit.byId("email").get("value").trim(), {expires: 14});
                                  dojo.cookie("pass", dijit.byId("pass").get("value").trim(), {expires: 14});
                                }
                              });
                            
                            </script>
            		        	</button>
            		        </div>
            		      </form>
            		    </div>
          		      <div class="c-margin-t">
          		        	<button id="joinUsUpper" class="corp-contrast c-float-l hidden" data-dojo-type="dijit.form.Button" type="submit">Join Us
          		        	  <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                            // Do something:
                            castor.info("buttonClick=joinUs");
                            window.location.href = "/register";
                          </script>
                        </button>
          						</div>
          					<div class="clear">
          			
          		    </div>
            		</div>
      		    </div>
      		  </div>
  		    <div id="site_title">
  		    </div>
  	    </div>
  	    <div id="layout_body_outer">
  	      <div id="layout_body">
  	        <div id="navigation">
  	          

        			<div>
          	    <ul id="primary-nav">
                    <li id="nav-home"><a id="home-icon" href="/"></a></li>
                    <li id="nav-productivity"><a href="/?p=productivity">Productivity</a>
                        <div id="m1" class="invisible">
                        <a href="/?p=tour">Features</a>
                        <a href="/?p=cases" class="bottom-rounded">Case Studies</a>
                        </div>
                    </li>
                    <li id="nav-opportunity"><a href="/?p=opportunity">Opportunity</a>
                        <div id="m2" class="invisible">
                        <a href="/?p=public">Network Opportunities</a>
                        <a href="/?p=coordel">Coordel Opportunities</a>
                        <a href="/?p=business" class="bottom-rounded">Partner with Coordel</a>
                        </div>
                    </li>
                    <li id="nav-about"><a href="/?p=about">About</a>
                        <div id="m3" class="invisible">
                        <a href="/?p=pricing">Pricing</a>
                        <a href="/?p=transparency" class="bottom-rounded">Transparency</a>
                        </div>
                    </li>
                    <li id="nav-blog"><a href="http://blog.coordel.com" target="_blank">Blog</a></li>
                </ul>

                <div class="clear"></div>
          	  </div>
        		</div>
  		      <div id="main">

  		        <div class="left" id="content_outer">
  		          <div id="content">

                  <%- body %>
                  <div class="clearer"></div>
    				    </div>
  		        </div>
  		        <div class="right" id="sidebar_outer">
        				<div id="sidebar">

        					<div class="box">

        						<div class="box_title">Productivity Spotlight</div>

        						<div class="box_content">
        							<ul id="spotlight" class="capitalize">

        							</ul>
        						</div>

        					</div>
        				  <!--
        					<div class="box">

        						<div class="box_title">Coordel Opportunities</div>

        						<div class="box_content">
        							<ul id="coordelOpps">

        							</ul>
        						</div>

        					</div>
      					-->
                  <div class="box">

        						<div class="box_title">Case Studies</div>

        						<div class="box_content">
        							<ul>
        								<li id="nav-employed"><a href="/?p=employed">Full Time Employees</a></li>
        								<li id="nav-contract"><a href="/?p=contract">Independent Contractors</a></li>
        								<li id="nav-consult"><a href="/?p=consult">Consultants</a></li>
        							</ul>
        						</div>
        					</div>

                  <div class="box">

        						<div class="box_title">Contact Us</div>

        						<div class="box_content">
                      <div style="margin-left: 20px" class="c-margin-t">
                        <div class="c-color-default">Want more information? <br><a style="padding-left: 20px" href="mailto:info@coordel.com">info@coordel.com</a></div>
                        <br>
                        <div class="c-color-default">Need help? <br><a style="padding-left: 20px" href="mailto:support@coordel.com">support@coordel.com</a></div>
                      </div>
                      <br>
        						</div>
        					</div>

        				</div>
        			</div>

        			<div class="clearer">&nbsp;</div>

        		</div>
  			    <div id="dashboard" class="splash">
  				    <div id="dashboard_inner">
  					    <button id="joinUs" class="c-float-r corp-contrast hidden" data-dojo-type="dijit.form.Button" type="submit">Join Us
  					      <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    // Do something:
                    castor.info("buttonClick=joinUs");
                    window.location.href = "/register";
                  </script>
  					    </button>
  					    <div id="tagLine" class="right">
          				<h1 style="font-size: 1.8em" class="right handwritten hand-nav">Coordel = <span><a href="/?p=productivity" class="secondary">Productivity</a></span><span> + </span> <span><a href="/?p=opportunity" class="secondary">Opportunity</a></span></h1>
          			</div>
  		        	<button id="tour" class="c-float-l corp-dark" data-dojo-type="dijit.form.Button" type="submit">Tour Features
  					      <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    // Do something:
                    castor.info("buttonClick=takeTour, location=home");
                    window.location.href = "/?p=tour";
                  </script>
                </button>
  					    <div class="clearer"></div>
  				    </div>
  			    </div>
  	      </div>
  	    </div>
  	    <div id="footer" class="splash">
  		    <div class="left">
  			    &copy; 2012 <a href="/">Coordel</a> - do what you love
  		    </div>
  		    <div class="clearer">&nbsp;</div>
  	    </div>
      </div>
    </div>
  </body>
</html>