<div id="page-name">	
  <hgroup class="section-title">
    <h1 id="page-title">Invitation Delivered</h1>
  </hgroup>
</div> <!-- end #page-name -->
</div> <!-- end .container -->
<div id="breadcrumbs">
<div class="container clearfix">
  <div id="breadcrumbs_box">
		<a href="/" class="breadcrumbs_home">Home</a> <span class="raquo">»</span>Invitation Delivered
	</div> <!-- end #breadcrumbs_box -->
</div> <!-- end .container -->
</div> <!-- end #breadcrumbs -->
</header> <!-- end #main-header -->
<div id="main-area">
<div class="container">
<div id="content-area" class="clearfix">
	<div id="left-area">
		<article class="clearfix">
      <div class="post_content">
<a class="no-decoration" href='/'><div class="c-float-l logo">&nbsp;</div></a>
<div class="c-float-l alt-signup">
	<div class="handwritten">Your Invitation was delivered, successfully.</div>
</div>
<div class="clear"></div>