<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("");
  });
</script>
<div id="page-name">	
  <hgroup class="section-title">
    <h1 id="page-title">Join Us</h1>
  </hgroup>
</div> <!-- end #page-name -->
</div> <!-- end .container -->
<div id="breadcrumbs">
<div class="container clearfix">
  <div id="breadcrumbs_box">
		<a href="/" class="breadcrumbs_home">Home</a> <span class="raquo">»</span>Join Us
	</div> <!-- end #breadcrumbs_box -->
</div> <!-- end .container -->
</div> <!-- end #breadcrumbs -->
</header> <!-- end #main-header -->


<div id="main-area">
<div class="container">
<div id="content-area" class="clearfix">
	<div id="left-area">
		<article class="clearfix">
      <div class="post_content">

<!--        *************************** users/invite.html ************************       -->
<div class="c-float-l register-form">
	<form action="/invite" method="post">
		<div style="padding-bottom: 1em">
			<a class="no-decoration" href='/'><img src="/css/images/black-20.png"><a class="no-decoration" href='/'></a>
		</div>
		<ul>
			<li>
  			<label for="regFirstName">First Name</label>
				<div>
					<input id="regFirstName" name="firstName" type="text"/>
				<div>
			</li>
			<li>
  			<label for="regLastName">Last Name</label>
				<div>
					<input id="regLastName" name="lastName" type="text">
				<div>
			</li>
			<li>
  			<label for="regEmail">Email</label>
				<div>
					<input id="regEmail" name="email" type="text">
				<div>
			</li>
		</ul>
		<div>
  		<input type="submit" class="submit-button c-margin-b c-float-r" value="Invite">
			<div class="clear"></div>
		</div>
		<input type="hidden" name="fromAppId"/>
		<input type="hidden" name="fromFirstName"/>
		<input type="hidden" name="fromLastName">
		<input type="hidden" name="fromEmail">
	</form>
	<%if ('undefined' !== typeof errors && errors.length){%>
	<div class="feedback c-color-error c-text-center c-padding-large-t">
		<% for (var key in errors) {%>
			<span class="error"><%=errors[key]%>.</span>
		<%}%>
		<span>Please try again.
	</div>
	<%}%>
</div>
<div class="c-float-l alt-signup">
	
</div>
	
