<!DOCTYPE html>
<html>
	<head>
		<!--   ***************         USERS   LAYOUT        *************************               -->
  	<title>Coordel...and we're done!</title>
  	<meta charset="utf-8">
		<link rel="stylesheet" href="/css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
	</head>
	<body class="login">
		<div class="signin">
			<fieldset class="signin-wrap large-shadow ui-corner-all">
				<%- body %>
			</fieldset>
			<div class="links">
				<a href="/register">Join Us</a>
				<a href="/login">Sign In</a>
				<a href="/?p=getstarted">Get Started</a>
				<a href="/?p=manual">User Manual</a>
				<a href="/?p=faq">FAQ</a>
				<a href="/logout">Log Out</a>
			</div>
		</div>
	</body>
</html>