<div style="width: 21em">
	<form action="/login" method="post">
		<div class="full" style="padding-bottom:1em">
  		<label>Email</label> 
			<input name="email" type="text" class="text x-large">
		</div>
		<div class="full" style="padding-bottom:2em">
  		<label for="password">Password</label>
			<input name="password" type="password" class="text x-large">
		</div>
		<div>
		  <button id="submitLogin" class="c-float-r corp-contrast" data-dojo-type="dijit.form.Button" type="submit">Login
	      <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
          // Do something:
          castor.info("buttonClick=login, page=login");
        </script>
	    </button>
		</div>
	</form>
	<%if ('undefined' !== typeof errors && errors.length){%>
	<div class="clear c-padding"></div>
  <div class="feedback error c-color-error c-text-center c-padding-large-t">
		<% for (var key in errors) {%>
			<span><%=errors[key]%>.</span>
		<%}%>
		<span>Please try again.</span>
	</div>
	<%}%>
</div>