<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("");
  });
</script>
<div class="handwritten">
	<div>Please enter your E-mail and Password to login to Coordel</div>
	<br/>
</div>
<div style="width: 23em;">
  
	<form action="/login" method="post">
	  <ul>
			<li>
  			<label for="regEmail">E-mail</label>
				<div>
					<input id="regEmail" name="email" type="text">
				<div>
			</li>
			<li>
  			<label for="regPassword">Password</label>
				<div>
					<input id="regPassword" name="password" type="password">
				<div>
			</li>
			<li>
			  <div style="margin-right: 2em">
    		  <button id="submitLogin" class="c-float-r corp-contrast" data-dojo-type="dijit.form.Button" type="submit">Login
    	      <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
              // Do something:
              castor.info("buttonClick=login, page=login");
            </script>
    	    </button>
    		</div>
			</li>
		</ul>
		
	</form>
	<%if ('undefined' !== typeof errors && errors.length){%>
	<div class="clear c-padding"></div>
  <div class="feedback error c-color-error c-text-center c-padding-large-t">
		<% for (var key in errors) {%>
			<span><%=errors[key]%>.</span>
		<%}%>
		<span>Please try again.</span>
	</div>
	<%}%>
</div>

		