<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("");
  });
</script>

<div class="c-float-l register-form" style="width: 23em;padding-right: 2em;">
	<form action="/register" method="post">
		<ul>
			<li>
  			<label for="regFirstName">First Name</label>
				<div>
					<input id="regFirstName" name="firstName" type="text"/>
				<div>
			</li>
			<li>
  			<label for="regLastName">Last Name</label>
				<div>
					<input id="regLastName" name="lastName" type="text">
				<div>
			</li>
			<li>
  			<label for="regEmail">Email</label>
				<div>
					<input id="regEmail" name="email" type="text">
				<div>
			</li>
			<li>
  			<label for="regPassword">Password</label>
				<div>
					<input id="regPassword" name="password" type="password">
				<div>
			</li>
			<li>
  			<label for="regVerify">Verify Password</label>
				<div>
					<input id="regVerify" name="verifypassword" type="password">
				<div>
			</li>
		</ul>
		<div>
			<button class="c-float-r corp-contrast" data-dojo-type="dijit.form.Button" type="submit">Join Us
	      <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
          // Do something:
          castor.info("buttonClick=joinUs, location=register");
        </script>
      </button>
		</div>
	</form>
	<%if ('undefined' !== typeof errors && errors.length){%>
  <div class="clear c-padding"></div>
	<div class="feedback error c-color-error c-text-center c-padding-large-t">
		<% for (var key in errors) {%>
			<span><%=errors[key]%>.</span>
		<%}%>
		<span> Please try again.</span>
	</div>
	<%}%>
</div>
<div class="c-float-r alt-form" style="width: 14em; margin-left: 1em">
	<div class="handwritten" style="line-height: 1.3em">Save time by using your Facebook or LinkedIn account to join Coordel</div> 
	<div class="c-padding-large-t">
		<p class="c-text-center c-padding-large"><a href="/auth/facebook" class="signin-facebook"></a></p>
		<p class="c-text-center c-padding-large"><a href="/auth/linkedin" class="signin-linkedin"></a></p>
	</div>
</div>
