<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("");
  });
</script>
<div id="page-name">	
  <hgroup class="section-title">
    <h1 id="page-title">Join Us</h1>
  </hgroup>
</div> <!-- end #page-name -->
</div> <!-- end .container -->
<div id="breadcrumbs">
<div class="container clearfix">
  <div id="breadcrumbs_box">
		<a href="/" class="breadcrumbs_home">Home</a> <span class="raquo">»</span>Join Us
	</div> <!-- end #breadcrumbs_box -->
</div> <!-- end .container -->
</div> <!-- end #breadcrumbs -->
</header> <!-- end #main-header -->


<div id="main-area">
<div class="container">
<div id="content-area" class="clearfix">
	<div id="left-area">
		<article class="clearfix">
      <div class="post_content">
        <h1>Join us free for 30 days</h1>
        <br>
        <h2>Fully functional, no credit card required.</h2>
        <br>
        <div id="et-contact" class="responsive">
        	<form action="/register" method="post">
        		<div>
     					<p class="clearfix">
    						<label for="firstName">First Name</label>
    						<input type="text" name="firstName" id="firstName" class="input" />
    					</p>
    					
    					<p class="clearfix">
    						<label for="lastName" >Last Name</label>
    						<input type="text" name="lastName" id="lastName" class="input" />
    					</p>

    					<p class="clearfix">
    						<label for="email" >E-mail</label>
    						<input type="text" name="email" id="email" class="input" />
    					</p>

    					<p class="clearfix">
    						<label for="password">Password</label>
    						<input type="password" name="password" id="password" class="input" />
    					</p>
    				</div> <!-- #et_contact_left -->

    				<div class="clear"></div>

    				<input type="reset" id="et_contact_reset" value="Reset" />
    				<input class="et_contact_submit" type="submit" value="Submit" id="et_contact_submit" />
    			</form>

        	<p class="c-text-center"><em>Find out all about our <a class="c-color-active" href="/?p=pricing">Simple Pricing</a></em></p>
        </div> <!-- end #et-contact -->
        <br><br>
        <%if ('undefined' !== typeof errors && errors.length){%>
        <div class="et-box et-warning">
        	<div class="et-box-content">
        	  <div style="font-size: 17px;">Oops</div>
        	  <br>
        	  <div>
        	    	<% for (var key in errors) {%>
            			<span><%=errors[key]%>.</span>
            		<%}%>
            		<span> Please try again.</span>
        	  </div>
        	</div>
        </div>
        <%}%>
      