<script>
  // Require the Button, TooltipDialog, DropDownButton, and TextBox classes 
  require(["corp/main"], function(corp){
    corp.setCurrentPage("");
  });
</script>

<div class="password-container">
	<div class="handwritten c-padding-large-b">Enter your email and we'll send you instructions how to reset your password<sup>*</sup></div>
	
	<form action="/reset" method="post">
		<div class="full" style="padding-bottom:1em">
			<input name="email" type="text" class="text x-large">
		</div>
		<div>
		  <button id="resetPassword" class="c-float-r corp-dark" data-dojo-type="dijit.form.Button" type="submit">Reset
	      <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
          // Do something:
          castor.info("buttonClick=resetPassword");
        </script>
	    </button>
			<div class="clear"></div>
		</div>
	</form>
	<div class="c-padding-large-t c-padding-large-b c-color-label"><sup>*</sup>If more than 30 minutes pass after receiving the e-email, you will be returned here to make a new request.</div>
	<%if ('undefined' !== typeof errors && errors.length){%>
	<div class="feedback c-color-error c-text-center c-padding-large-t">
		<% for (var key in errors) {%>
			<span class="error"><%=errors[key]%>.</span>
		<%}%>
		<span>Please try again.
	</div>
	<%}%>
</div>