
<div style="width: 23em">
	<div class="handwritten c-padding-large-b">Enter your email and we'll send you instructions how to reset your password</div>
	<form action="/password" method="post">
		<div class="full" style="padding-bottom:1em">
			<input name="email" type="text" class="text x-large">
		</div>
		<div>
		  <button id="resetPassword" class="c-float-r corp-contrast" data-dojo-type="dijit.form.Button" type="submit">Reset
	      <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
          // Do something:
          castor.info("buttonClick=resetPassword");
        </script>
	    </button>
			<div class="clear"></div>
		</div>
	</form>
	<%if ('undefined' !== typeof errors && errors.length){%>
	<div class="feedback c-color-error c-text-center c-padding-large-t">
		<% for (var key in errors) {%>
			<span class="error"><%=errors[key]%>.</span>
		<%}%>
		<span>Please try again.
	</div>
	<%}%>
</div>