<div dojoAttachPoint="contactContainer">
	<div style="line-height: 32px" dojoAttachPoint="contactContainer">
		<img dojoAttachPoint="userImage" src="/images/default_contact.png" class="ui-corner-all c-float-l">
		<a dojoAttachPoint="fullNameValue" class="contact-name"></a>
	</div>
	<div class="clear"></div>
	<div class="contact-info ui-corner-all c-padding">
		<ul>
			<li dojoAttachPoint="email" class="email">
				<ins class="c-float-l ui-icon-contact icon-email"></ins>
				<a dojoAttachPoint="emailValue" class="no-image" href="mailto:${contact.email}"></a>
			</li>
			<li dojoAttachPoint="skype" class="skype">
				<ins class="c-float-l ui-icon-contact icon-skype"></ins>
				<a dojoAttachPoint="skypeValue" href="skype:${contact.skype}"></a>
			</li>
		
			<li dojoAttachPoint="phone" class="phone">
				<ins class="c-float-l ui-icon-contact icon-phone"></ins>
				<span dojoAttachPoint="phoneValue"></span>
			</li>
		</ul>
	</div>
</div>