<div>
	<div id="showOtherLists">&nbsp;</div>
	<div id="addObject" class="menu-button">
		<div dojoAttachPoint="showObjectMenu" title="${coordel.addObject.project}" dojoType="dijit.form.DropDownButton" showLabel="false">
			<div dojoAttachPoint="addObjectDialog" class="menu" layoutAlign="top" dojoType="dijit.TooltipDialog">
				<ul class="menu-items">
					<li dojoAttachPoint="addProject">${coordel.addObject.project}...</li>
					<li dojoAttachPoint="addContact">${coordel.addObject.contact}...</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="coordel-logo-footer coordel-logo-black">&nbsp;</div>
</div>