<div class="dijitDialog" role="dialog" aria-labelledby="${id}_title">
	<div dojoAttachPoint="titleBar" class="dijitDialogTitleBar">
		<span dojoAttachPoint="closeButtonNode" class="coordelDialogButton c-float-l" dojoAttachEvent="ondijitclick: onCancel">${cancelText}
			<span dojoAttachPoint="closeText" class="closeText hidden" title="${buttonCancel}"></span>
		</span>
		<span dojoAttachPoint="titleNode" class="dijitDialogTitle" id="${id}_title"></span>
	</div>
	<div dojoAttachPoint="containerNode" class="coordelDialogPaneContent"></div>
	<div dojoAttachPoint="footerNode" class="dialog-footer ui-corner-bottom"></div>
</div>

