.calendar .dijitTitlePaneContentInner {
  padding: 0 !important;
}

.calendar-day .day-header{
  color: #333333;
  font-size: 10px;
  font-weight: bold;
  padding-bottom: 2px;
}

.calendar-day {
  padding: 8px;
}

.calendar-day:nth-child(even){
  background-color: #fafafa;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.calendar-day:last-child{
  border-bottom: none;
}

.calendar-entry .project.project-invite{
  background-image: url(images/icons/project-invite-10x10.png);
  /*background-color: #642F6C;
  color: #642F6C;*/
}

.calendar-entry .project {
  padding-left: 14px;
  background: url(images/icons/project-10x10.png) no-repeat left center;
}

.calendar-entry .task.task-invite{
  background-image: url(images/icons/check-green.png);
  /*background-color: #97D700;
  color: #97D700;*/
}


.calendar-entry .task {
  padding-left: 14px;
  background: url(images/icons/check.png) no-repeat left center;
}


.calendar-entry {
  color: #333333;
  cursor: pointer;
}

.calendar-entry:hover{
  color: #000000;
}









.claro h3.dijitCalendarYearLabel {
	border: none;
	color: #333;
}

.claro .dijitCalendarMonthContainer {
	background-image: url(images/titlebar1.png);
}

.claro .task-form .dijitTextArea {
	border: none;
	background: #fff;
}

.claro .dijitCalendar {
	border-radius: 0;
	background-color: #ccc;
	border: 1px solid #999;
	padding: 0px;
}

.claro .dijitCalendarIncrementControl {
	background-image: url(images/calendarArrows.png);
}

.claro .dijitCalendarDayLabelTemplate{
	color: #333;
	text-transform: uppercase;
	font-size: 12px;
	font-family: helvetica;
	text-shadow: #fff 0px 1px 0px;
	font-weight: bold;
	
}

.claro .dijitCalendar,.claro .dijitCalendarActive,.claro .dijitCalendarHover {
	
	background-image: url(images/titlebar1.png);
	background-repeat: repeat-x;
	
}
.claro .dijitCalendarPreviousMonth, .claro .dijitCalendarNextMonth {
	background-color: #fff !important;
	
	color: #ccc;
}
.claro .dijitCalendarPreviousMonth .dijitCalendarDateLabel, .claro .dijitCalendarNextMonth .dijitCalendarDateLabel {
	color: #ccc;
	border: none;
}

.claro .dijitCalendarDateTemplate {
	border: none;
	background-color: #e5e5e5;
	
}
