.coordel .dijitDialog {
  border: none;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.coordel .dijitDialogPaneContent {
  background: #ffffff repeat-x top left;
  border:none;
  padding: 0;
  position: relative;
}

.coordelDialogPaneContent {
  background: #ffffff repeat-x top left;
  border:none;
  padding: 0;
  position: relative;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.coordelConfirmDialog {
  min-width: 30em;
  max-width: 30em;
}

.coordelDialogConfirmText{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  /*border-bottom: 1px solid #999;*/
  padding: 16px 8px;
  background-color: #ffffff;
}

.coordel .dijitDialogPaneContentArea {
  /* trick to get action bar (gray bar at bottom with OK/cancel buttons) to span from
	 * left to right but still indent dialog content
	 */
  margin: -10px -8px;
  padding: 10px 8px;
}

.coordel .dijitDialogTitleBar {
  /* outer container for the titlebar of the dialog */
  
  background: #000 url(images/titlebar-2.png) repeat-x;
	border: none;
	color: #fff;
	font-weight: bold;
	text-align: center;
	border-bottom: 1px solid #333;
	padding: 6px;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
   border-top-right-radius: 4px;
   border-top-left-radius: 4px;
   
   
  white-space: nowrap;
 	overflow: hidden;
 	text-overflow: ellipsis;
 
}
.coordel .dijitDialogTitle {
  /* typography and styling of the dialog title */
  padding: 0;
  font-size: 1.091em;
  color: #ffffff;
}
.coordel .dijitDialogCloseIcon {
  /* the default close icon for the dialog */

  background: url("images/icons/dialogCloseIcon.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 4px;
  height: 15px;
  width: 21px;
}
.dj_ie6 .coordel .dijitDialogCloseIcon {
  background-image: url("images/icons/dialogCloseIcon.png");
}
.coordel .dijitDialogCloseIconHover {
  background-position: -21px;
}
.coordel .dijitDialogCloseIconActive {
  background-position: -42px;
}

.coordel .dijitDialogUnderlay {
  background: transparent;
}

.dialog-footer {
  background: #ccc url(images/titlebar1.png) repeat-x;
  color: #666;
  line-height: 20px;
  height: 20px;
  font-weight: bold;
  border-left: 1px solid #000; 
  border-right:1px solid #000; 
  border-bottom: 1px solid #000; 
  border-top: 1px solid #999;
}

.highlight-button.coordelDialogButton {
  background-color: #00629B;
  border: 1px solid #59b4d4;
}

.highlight-button.coordelDialogButton:hover {
  background-color: #008ABB;
  border: 1px solid #59b4d4;
}

.warning-button.coordelDialogButton {
  background-color: #DA291C;
  border: 1px solid #FF4438;
}

.warning-button.coordelDialogButton:hover {
  background-color: #E03E34;
  border: 1px solid #FF4438;
}

.disabled-button.coordelDialogButton, .disabled-button.coordelDialogButton:hover {
  background-color: #333;
  border: 1px solid #444;
  color: #ccc;
  cursor: default;
}

.vip-contact-row{
  border-bottom: 1px solid #ccc;
}

.vip-contact-row:last-child{
  border-bottom: none;
}

.vip-contact {
  width: 233px; 
  display: inline-block; 
  border: none;
}

.vip-contact.selected {
  background-color: #7C8590;
  color: #fff;
  text-shadow: #333 0px 1px 0px;
}

.vip-contact:first-child{
  border-right: 1px solid #ccc;
  width: 232px;
}

.coordelDialogButton {
  border: 1px solid #666;
  background-color: #333;
  background-image: url(images/button_background.png);
  color: #fff;
  min-width: 4em;
  padding: 2px;
  font-family: helvetica;
  text-shadow: rgba(0, 0, 0, 0.3) 0px 1px 0px;
  font-weight: bold;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.coordelDialogButton:hover {
	background-color: #444;
	border-color: #666;
	background-image: url(images/button_background.png);
}

