h3.menu-header{
	color: #A3AAB1;
	background-image: none;
	background-color: #fff;
	border: none;
	padding: 0px 0px 0px 0px;
	margin-left: 8px;
	margin-top: 2px;
	margin-bottom: 2px;
	font-size: 11px;
}

.menu-items {
  min-width: 150px;
}

.menu-items li {
	border: none;
	background-image: none;
	padding: 4px;
	margin-top: 2px;
	margin-bottom: 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

.menu-items li:hover {
	border: none;
	background: #66727F url(images/menu_background.png);
	color: #fff;
	text-shadow: #333 0px 1px 0px;
	cursor: pointer;
}

.menu-items a {
	padding-left: 20px;
	display: inline-block;
}

.menu-items li.selected a {
	background-image: url(images/small-check.png);
	background-repeat: no-repeat;
	background-position: left-center;
}

.menu-items li.selected:hover a {
	background-image: url(images/small-check-white.png);
}


