/* TabContainer 
 * 
 * Styling TabContainer means styling the TabList and Its content container  (dijitTitlePane)
 * 
 * Tab List: (including 4 kinds of tab location)
 * 		.dijitTabContainerTop-tabs     - tablist container at top
 * 		.dijitTabContainerBottom-tabs  - tablist container at bottom
 * 		.dijitTabContainerLeft-tabs    - tablist container at left
 * 		.dijitTabContainerRight-tabs   - tablist container at right
 * 
 * Tab Strip Button:
 * 		.dijitTabStripIcon - tab strip button icon
 * 		.dijitTabStripMenuIcon - down arrow icon position
 * 		.dijitTabStripSlideLeftIcon - left arrow icon position
 * 		.dijitTabStripSlideRightIcon - right arrow icon position
 * 
 * 		.tabStripButtonDisabled - styles for disabled tab strip buttons
 * 
 * Tab Button:
 * 		.dijitTabContainerTop-tabs .dijitTabInnerDiv/.dijitTabContent     - styles for top tab button container
 * 		.dijitTabContainerBottom-tabs .dijitTabInnerDiv/.dijitTabContent  - styles for bottom tab button container
 * 		.dijitTabContainerLeft-tabs .dijitTabInnerDiv/.dijitTabContent    - styles for left tab button container
 * 		.dijitTabContainerRight-tabs .dijitTabInnerDiv/.dijitTabContent   - styles for right tab button container
 * 
 * 		.dijitTabContainerTop-tabs .dijitTabChecked .dijitTabInnerDiv/.dijitTabContent    
 * 				- styles for selected status of top tab button
 * 		same to Bottom, Left, Right Tabs
 * 
 * 		.dijitTabHover .dijitTabInnerDiv   - styles when mouse hover on tab buttons
 * 		.dijitTabActive .dijitTabInnerDiv  - styles when mouse down on tab buttons
 * 		.dijitTabChecked .dijitTabInnerDiv  - styles when on buttons of selected tab		
 * 
 * 		.dijitTabCloseButton - the close action buttons lie at the right top of each tab button on closable tabs
 * 		.dijitTabCloseButtonHover - styles when mouse hover on close action button
 * 		.dijitTabCloseButtonActive - styles when mouse down on close action button
 * 
 * Tab Button: (checked status)
 * 
 * Tab Content Container:
 * 		.dijitTabContainerTop-dijitContentPane
 * 		.dijitTabContainerBottom-dijitContentPane
 * 		.dijitTabContainerLeft-dijitContentPane
 * 		.dijitTabContainerRight-dijitContentPane - for background and padding
 * 
 * Nested Tabs:
 * 		.dijitTabContainerNested - Container for nested tabs
 * 		.dijitTabContainerTabListNested - tab list container for nested tabs
 */
/*** some common features ***/
.claro .dijitTabPaneWrapper,
.claro .dijitTabContainerTop-tabs,
.claro .dijitTabContainerBottom-tabs,
.claro .dijitTabContainerLeft-tabs,
.claro .dijitTabContainerRight-tabs {
  /* todo: add common class name for this div */
  background-color: #eaeaea;
  border-color: #ccc;
  border-right: 0;

}

.claro .dijitTabInnerDiv {
  background-color: #b4b4b4;
  -webkit-transition-property: background-color, border;
  -webkit-transition-duration: .35s;
  color: #4a4a4a;
}
.claro .dijitTabHover .dijitTabInnerDiv {
  background-color: #c1c1c1;
  -webkit-transition-duration: .25s;
  color: #666;
}
.claro .dijitTabActive .dijitTabInnerDiv {
  background-color: #eaeaea;
  color: #000000;
  -webkit-transition-duration: .1s;
}
.claro .dijitTabChecked .dijitTabInnerDiv {
  background-color: #eaeaea;
  color: #000000;
}
.claro .dijitTabContent {
  border: 1px solid #ccc;
}
.claro .dijitTabHover .dijitTabContent {
  border-color: #66727F;
}
.claro .dijitTabActive .dijitTabContent {
  border-color: #66727F;
}
.claro .dijitTabChecked .dijitTabContent {
  color: #666;
  border-color: #ccc;
}
.claro .tabStripButton .dijitTabInnerDiv {
  background-color: #eaeaea;
}
.claro .tabStripButton .dijitTabContent {
  border: none;
}
/*** end common ***/
/*************** top tab ***************/
.claro .dijitTabContainerTop-tabs .dijitTab {
  top: 1px;
  /* used for overlap */

  margin-right: 0px;
  padding-top: 0px;
}
.dj_ie7 .claro .dijitTabContainerTop-tabs .dijitTab {
  top: 0px;
}
/* for top tab padding. change height when status changes */
.claro .dijitTabContainerTop-tabs .dijitTabContent {
  padding: 3px 6px;
  border-bottom-width: 0;
  background-position: 0 0;
  background-repeat: repeat-x;
  min-width: 7.835em;
  text-align: center;
}
.claro .dijitTabContainerTop-tabs .dijitTabChecked .dijitTabContent {
  padding-bottom: 3px;
  padding-top: 3px;
}
/* normal status */
.claro .dijitTabContainerTop-tabs .dijitTabInnerDiv {
  background-position: 0 -248px;
  background-position: bottom;
  background-repeat: repeat-x;
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04);
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.04);
}
/* checked status */
.claro .dijitTabContainerTop-tabs .dijitTabChecked .dijitTabInnerDiv {
  background-image: none;
  -webkit-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.05);
}
.claro .dijitTabContainerTop-tabs .dijitTabChecked .dijitTabContent {
  background-position: 0 -248px;
  background-repeat: repeat-x;
}
/** end top tab **/
