<div class="signin">
	<fieldset class="signin-wrap large-shadow ui-corner-all">
		<div class="c-float-l logo">&nbsp;</div>
		<div id="userSignInForm" class="c-float-l signin-form">
			<div class="full" style="padding-bottom:1em">
	  		<p><label>Email</label></p> 
				<input id="username" type="text" class="text x-large">
			</div>
			<div class="full" style="padding-bottom:2em">
	  		<p><label for="password">Password</label></p> 
				<input id="password" type="password" class="text x-large">
			</div>
			<div>
	  		<input id="submitLogin" type="submit" class="submit-button c-margin-b c-float-r" value="Login">
				<div class="clear"></div>
			</div>
			<div id="loginError" class="feedback c-color-error c-text-center c-padding-large-t hidden"><span id="loginErrorMessage"></span> Please try again.</div>
		</div>
	</fieldset>
	<!--
	<div class="links">
		<a id="signUp">Sign Up</a>
		<span class="c-padding-large-lr"></span>
		<a id="forgotPassword">Forgot Password</a>
	</div> -->
</div>