<div>
	<h3 class="menu-header">${coordel.taskActions.header}</h3>
	<ul class="menu-items">
	    <li dojoAttachPoint="activateTask" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.activate}...</a></li>
	    <li dojoAttachPoint="somedayTask" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.someday}...</a></li>
	    <li dojoAttachPoint="archiveTask" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.archive}...</a></li>
	    <li dojoAttachPoint="proposeChange" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.proposeChange}...</a></li>
			<li dojoAttachPoint="proposeChange" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.proposeChange}...</a></li>
			<li dojoAttachPoint="agreeChange" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.agreeChange}...</a></li>
				<li dojoAttachPoint="acceptTask" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.accept}...</a></li>
				<li dojoAttachPoint="declineTask" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.decline}...</a></li>
		<li dojoAttachPoint="submitTask" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.submit}...</a></li>
		<li dojoAttachPoint="returnTask" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.return}...</a></li>
		<li dojoAttachPoint="approveTask" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.approve}...</a></li>
		<li dojoAttachPoint="raiseIssue" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.raiseIssue}...</a></li>
		<li dojoAttachPoint="clearIssue" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.clearIssue}...</a></li>
		<li dojoAttachPoint="pauseTask" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.pause}...</a></li>
		<li dojoAttachPoint="resumeTask" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.resume}...</a></li>
		<li dojoAttachPoint="cancelTask" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.cancel}...</a></li>
		<li dojoAttachPoint="deleteTask" class="sort-attribute hidden"><ins></ins><a>${coordel.taskActions.delete}...</a></li>
		<li dojoAttachPoint="proposeProjChange" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.proposeChange}...</a></li>
		<li dojoAttachPoint="agreeProjChange" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.agreeChange}...</a></li>
		<li dojoAttachPoint="amendProjChange" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.amendChange}...</a></li>
		<li dojoAttachPoint="reassignProj" class="sort-attribute hidden"><ins></ins><a>${coordel.projectActions.reassign}...</a></li>
		<li dojoAttachPoint="reuseTask" class="sort-attribute"><ins></ins><a>${coordel.taskActions.reuse}...</a></li>
		<!--
		<li dojoAttachPoint="reuseDeliverables" class="sort-attribute"><ins></ins><a>${coordel.taskActions.reuseDeliverables}...</a></li> -->
	</ul>
</div>