<div>

  <div dojoAttachPoint="header" class="qs-header">
    <div dojoAttachPoint="title" class="qs-title"></div>
  </div>
  <div class="qs-content">
    <h4 dojoAttachPoint="headline"></h4>
    <div class="clear"></div>
    <img dojoAttachPoint="mainImage" style="margin-left: 6px" class="c-float-r" height="140" width="220"/>
    <div dojoAttachPoint="content"></div>
  </div>
  <div class="qs-buttons">
    <button dojoAttachPoint="nextButton" class="c-float-r" dojoType="dijit.form.Button">${coordel.next}</button>
    <button dojoAttachPoint="prevButton" class="c-float-l hidden" dojoType="dijit.form.Button">${coordel.previous}</button>
    <div class="clear"></div>
  </div>
</div>