<div>
	<div>
		
		<div class="c-float-l">
			<span class="sortable hidden">&nbsp;</span>
			<span class="checkbox" dojoAttachPoint="todoCheckBox" dojoType="dijit.form.CheckBox"></span>
		</div>
		<div class="c-float-l task-container">
			<div class="c-float-r">
				
				<span class="deadline hidden" dojoAttachPoint="deadline"></span>	
				<span dojoAttachPoint="turboIcon" class="meta-turbo hidden">&nbsp;<span>
			</div>
			<div class="task" style="margin-bottom: 4px">${todo.name}</div>
			<div dojoAttachPoint="purposeContainer" class="hidden" style="border-top: 1px dotted #eaeaea;margin-top:4px;padding-top:4px">
				<div class="purpose" dojoAttachPoint="purpose"></div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>	
</div>