<div>

  <div class="pi-content">
    
    <div class="desc clear">
  		<span class="name">First Name</span>
  	</div>
  	<div dojoAttachPoint="firstName" class="c-margin-large-b" dojoType="dijit.form.ValidationTextBox"></div>
    <div class="desc clear">
  		<span class="name">Last Name</span>
  	</div>
    <div dojoAttachPoint="lastName" class="c-margin-large-b" dojoType="dijit.form.ValidationTextBox"></div>
    <div class="desc clear">
  		<span class="name">Phone</span>
  	</div>
    <div dojoAttachPoint="phone" dojoType="dijit.form.ValidationTextBox"></div>
    <div class="instructions c-margin-b">(Optional) Provide the number you want your team to use</div>
    <div class="desc clear">
  		<span class="name">Skype</span>
  	</div>
    <div dojoAttachPoint="skype" dojoType="dijit.form.ValidationTextBox"></div>
    <div class="instructions c-margin-b">(Optional) Provide your Skype name</div>
  </div>
</div>