<div>
	<span id="showStream" dojoAttachPoint="showStream" dojoType="dijit.form.Button" iconClass="coordelHeaderIcon coordelHeaderIconStream" style="margin-right: 6px" class="c-float-l" title="${coordel.stream.showStream}" showLabel="false"></span>
	<!-- add class=active to show that there are notifications -->
	<div id="showNotifications" class="active">
		<div id="notificationCount" >22</div>
	</div>
	<div id="mainUser">
		<div id="mainUserRight">&nbsp;</div>
		<div id="mainUserCenter">Jeff Gorder</div>
		<div id="mainUserLeft">&nbsp;</div>
	</div>
</div>